[2017-12-24 03:44] tzzen93 opened #294 "Preview is distorted when screen launch with portrait and then change to landscape"
The camera is distorted when screen launch with portrait and then change to landscape orientation immediately. At that timing, the camera is distorted in version com.wonderkiln:camerakit:0.13.1. Thank you very much!

[2017-12-27 15:40] pablofridman opened #295 "Flash doesnt work on STILL METHOD"

[2017-12-27 22:13] Ninjaman494 opened #296 "CameraView covers up SnackBar when Preview is shown"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

Samsung Galaxy S4
API 21 (min API 15)

### Steps to Reproduce

1. Create a Layout with a CameraView in it, set width and length to match_parent
2. call cameraView.start()
3. Create a SnackBar and call show() while the preview is showing.

This works with startRecordingVi

[2017-12-29 10:17] daleksandrovms commented on #288
I am updated from 0.13.12 - see the same problem. Meizu m5 note

[2017-12-31 18:26] MoreKoo opened #297 "Is there a workaround for disabling microphone/audio permission check?"
CameraKit is wonderful! It has saved a lot of time and frustration in my current project. I'll try to find time in the future to contribute.

I have an app that does not need any video capabilities. However, CameraKit seem to check audio/microphone permissions among others. For my users this is a bit confusing to get a popup window, asking them to allow audio/microphone access. Is there any workar

[2018-01-03 06:11] Aks-4125 commented on #247
@calebdre  square video output is supported at this moment?

[2018-01-03 09:42] aravindhkumar23 commented on #220
@pihariev I am also facing the cropped output for samsung s8+. The version which i used is camerakit:0.11.2. Is it resolved ? if yes let me know the version which has the fix so that i will change to that particular version.

[2018-01-04 11:35] UmarBhutta commented on #212
It is still crashing on HTC One_M8 (Marshmallow 6.0)

[2018-01-05 15:25] 4brunu commented on #288
For me on one device I don't need to rotate it, it's stretch even in portrait. On the other devices it works, but I only support portrait.
The problem should be https://github.com/wonderkiln/CameraKit-Android/pull/280/commits/c1e42885a2b6b8369482a71874f6cda6d3a1fa57 or https://github.com/wonderkiln/CameraKit-Android/pull/280/commits/5875fded1b7bdac1bcc049fcc3accff4c0ac5cbf
@austinkettner any news

[2018-01-05 16:40] DeanEncoded opened #298 "Is there a way to access the SurfaceView of the CameraView?"
I'm trying to add a QR Reader together with CameraKit.
But I need to get the SurfaceHolder being used by the CameraView  in order to make the reader work.

Is there any chance this is possible?

[2018-01-06 20:37] xp-vit commented on #288
Same reproduced on Nexus 4 (Android 5.1.1) and Nexus 5 (Android 6.0.1). Most likely was broken by:
https://github.com/wonderkiln/CameraKit-Android/commit/5875fded1b7bdac1bcc049fcc3accff4c0ac5cbf

[2018-01-06 20:38] xp-vit commented on #294
I think this is a duplicate of: https://github.com/wonderkiln/CameraKit-Android/issues/288

[2018-01-07 20:46] xp-vit commented on #297
You can use:
`app:ckPermissions="picture"`

More documentation can be found at: http://docs.camerakit.website/#/?id=ckpermissions

[2018-01-07 20:49] xp-vit commented on #274
This issue should be closed now, since everything is working.

[2018-01-08 17:59] RubenSandwich commented on #55
@beiliubei Thank you for doing that work? Will you be trying to merge this work into the main repo?

[2018-01-08 21:03] DaCrAn commented on #288
Actually, this issue is fixed in google cameraview repo. maybe we can apply that fix here.

[2018-01-08 21:17] #274 closed

[2018-01-09 10:10] tzzen93 opened #299 "Flash Light cannot open while capturing. Runtime Exception happen"
During capturing I cannot open flash light.

java.lang.RuntimeException: setParameters failed

[2018-01-11 23:24] Vichy97 commented on #295
I dont think flash is triggered because its just capturing the preview but you can workaround this by setting flash to torch on click then setting it to off on picture callback. It would be nice to check if auto flash would be triggered though as right now there is no way to do that

[2018-01-12 14:16] tzzen93 commented on #295
Me too, Flash light cannot work in during capturing. Runtime exception and app was force closed.

[2018-01-12 14:50] austinkettner commented on #295
Looking into this, however in our 1.0.0 release this is considered resolved. Once 1.0.0 Snapshot is available I will update this issue so you can try it out!

[2018-01-12 14:55] tzzen93 commented on #295
Oh so sorry, Now it is ok, it is working well. 3day ago, that issue is still happen. now it is ok. Thank you so much!

[2018-01-12 14:56] #295 closed

[2018-01-12 16:54] Danm72 commented on #294
I'm seeing this too.

[2018-01-12 18:21] Vichy97 commented on #295
When is 1.0.0 out? And will it include camera2 support?

[2018-01-12 20:53] austinkettner commented on #295
Sometime next week @Vichy97 (potentially sooner) and yes it has Camera2 support!! =)

[2018-01-12 20:58] Vichy97 commented on #295
nice! thank you @austinkettner !

[2018-01-12 22:16] Vichy97 opened #300 "Permissions bug"
Denying permissions causes it to continually request permissions until they are granted.

[2018-01-15 00:11] LordFluffy opened #302 "Startpreview failed for API below 21"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

### Steps to Reproduce

App crashes when opening camera on phones below 21 .

### Expected Behavior

That it works

### Actual Behavior

Crashes with startpreview has failed.

[2018-01-15 07:29] cxmmxc opened #303 "quickly click facingButton,the app will ANR"
### Is this a bug report?

(YES)

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

(yes.)

### Environment
XiaomiNote Android 6.0.1

### Steps to Reproduce

(Write your steps here:)

1.Run the demo in XiaomiNote
2.quick click the facingButton
3.it is ANR
-----------------I use your demo, so ....    ------------------------
### Expected Behavior

(Write what you thought wo

[2018-01-16 05:04] wangchengyan opened #304 "when use this methord " void captureVideo(File videoFile, VideoCapturedCallback callback)""
#    when use this methord " void captureVideo(File videoFile, VideoCapturedCallback callback)"

   @Override
    void stopVideo() {
        synchronized (mCameraLock) {
            if (mRecording) {
                File videoFile = getVideoFile();

# stopVideo   File videoFile = getVideoFile();      option the wrong videoFile

@Override
    void captureVideo(File videoFile, VideoCapturedCallback

[2018-01-16 10:33] Danm72 commented on #239
Did you come up with any work arounds for this?

[2018-01-16 12:51] Diederikjh commented on #239
Can't reproduce this problem on my Android studio 3 setup.  Closing.

[2018-01-16 12:51] #239 closed

[2018-01-16 13:11] Danm72 commented on #239
Why would your editor have anything to do with this? It's either device or code related. In my case I'm seeing it on lower end tablet devices.

[2018-01-16 14:07] Diederikjh commented on #239
I know, I can't really explain it either. (Android studio did upgrade gradle on the project, but couldn't' reproduce on older version either)

Tried to reproduce on a lower end Samsung SM-T231 running Android 4.4.2.  If you can reproduce, please reopen.

[2018-01-16 17:33] Danm72 commented on #294
Was forced to lock orientations.

[2018-01-16 18:07] francescoberardi commented on #288
Hi,
I have a similar problem also with 0.13.0. In landscape on Samsung galaxy S2 Tablet with this option:
<com.wonderkiln.camerakit.CameraView
        android:id="@+id/camerakit_view"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:adjustViewBounds="true"
        android:layout_centerInParent="true"
        android:screenOrientation="portrai

[2018-01-16 18:26] austinkettner commented on #288
Hey everyone, as we gear up for our 1.0.0 release all of the orientation, stretch, etc tickets have been addressed as we have refactored how we handle all of this. Wanted to drop a not here as this the main reason we are not more directly addressing these issues in 0.13.x or 0.12.x releases. Hope that makes sense! We plan to have `1.0.0-Snapshot` out this week.

[2018-01-16 18:46] Danm72 commented on #288
What branch is that work happening on? Sounds good!

[2018-01-16 19:31] austinkettner commented on #288
Not yet pushed up for a few reasons, but you will see on a 1.0.0 branch in the next few days! In future releases we don't plan to hold the commits from the repo this long, as it's bad practice, but we had a few reasons this time around.

[2018-01-16 20:03] sugarmanz commented on #242
I received the same error when calling `camera.start()` after `camera.stop()`, which I assume is the same thing happening to @AviranAbady (confirm?) due to the lifecycle calls on orientation change.

[2018-01-17 11:21] udanieli commented on #256
I am testing master (47cda44ff90be5b9e174bc384ee54e04e7cbf080) and am experiencing the _UnsatisfiedLinkError_. I also tried to deploy the demo apk directly to the phone, instead of using the _Run_ function of Android Studio (suspecting some Android Studio flaw). Am I doing something wrong?

[2018-01-17 11:22] 4brunu commented on #256
@udanieli Could show the stack strace?

[2018-01-17 12:57] udanieli commented on #256
Thank you for the quick repoly. Stack trace is null. I only see this:
`java.lang.UnsatisfiedLinkError: Cannot load library: link_image[1891]: 25444 could not load needed library 'libyuvOperator.so' for 'libjpegTransformer.so' (load_library[1093]: Library 'libyuvOperator.so' not found)`
![androidstudio](https://user-images.githubusercontent.com/10025418/35042948-ec290480-fb8a-11e7-82f6-6279356051e5

[2018-01-17 14:30] 4brunu commented on #256
Can you share a sample project showing the error?

[2018-01-17 15:13] udanieli commented on #256
It's the [demo](https://github.com/CameraKit/camerakit-android/tree/master/demo) module in library's project, at revision 47cda44ff90be5b9e174bc384ee54e04e7cbf080 (did not touch any file).

[2018-01-18 12:24] hydarm opened #305 "Flipped video when using front camera"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
Android Studio

### Steps to Reproduce

(Write your steps here:)

1.Select front camera mode
2.Capture video
3.In preview - Video is flipped

### Expected Behavior

I was expecting the video to look exactly like it did in the viewfinder

### Actual Behavior

No crashes or

[2018-01-18 21:35] udanieli commented on #256
Looking to the source code and the commit you pointed me (https://github.com/CameraKit/camerakit-android/pull/293/commits/431f59d45da4e56a367c9ad9ef3dbdf370074807) it seems that this fix should be done again. Just testing, I made this simple patch:

https://github.com/udanieli/camerakit-android/commit/06e55ac8825cd0e5d181bf5a79dc21e977f618ed

then the demo crashes anyway for an _OutOfMemoryExcepti

[2018-01-18 22:34] boranyldrm commented on #305
The preview problem can be solved by using TextureView rather than VideoView. However, it will be better to record the video by setting the mirrored orientation.
[code]

[2018-01-18 23:16] 4brunu commented on #256
@udanieli Your fix looks good 👍
Yes, thats a separated issue.
Could you please submit a Pull Request with the fix?

[2018-01-19 01:22] austinkettner commented on #256
Second that, would love a PR, we can look at immediately merging.

[2018-01-19 09:06] Danm72 commented on #288
@austinkettner Looking forward to seeing the 1.0.0 snapshot, any way to be notified when its released?

[2018-01-19 15:49] hydarm commented on #305
@boranyldrm Will this record the video flipped (matching the viewfinder) or just preview it flipped ?

[2018-01-20 07:32] boranyldrm commented on #305
Just preview.

[2018-01-22 08:48] quangvinhvux commented on #199
hi team! Unfortunately this isn't fixed for the Samsung S6 /0.13.1 .please take a look.
AndroidRuntime: FATAL EXCEPTION: CameraViewWorker
                  Process: com.app.yeeld, PID: 16116
                  java.lang.OutOfMemoryError: Failed to allocate a 63489036 byte allocation with 16777216 free bytes and 59MB until OOM
                      at dalvik.system.VMRuntime.newNonMovableArray(Nativ

[2018-01-23 09:42] youyuanme opened #308 "Compatible with Android pad bug."
![832313327251360552](https://user-images.githubusercontent.com/11382521/35268495-411c5ff4-0064-11e8-91ca-16f79163d78d.png)
android pad 4.2.2

![1](https://user-images.githubusercontent.com/11382521/35269177-47f97ab2-0066-11e8-97df-60f143c2aa6d.jpg)

![2](https://user-images.githubusercontent.com/11382521/35269188-4c955d48-0066-11e8-98f4-15d129210c58.jpg)

![3](https://user-images.githubuserconten

[2018-01-23 14:49] fcafra opened #309 "Failed to resolve: com.wonderkiln:camerakit:0.13.1"
I have added
compile 'com.wonderkiln:camerakit:0.13.1' into build.gradle (App) but i have this error
Failed to resolve: com.wonderkiln:camerakit:0.13.1

What am i doing wrong ?

[2018-01-23 15:41] austinkettner commented on #309
@fcafra You aren't doing anything wrong, we are clearing up final issues with Bintray and the above will then work. Will update this ticket soon for you.

[2018-01-23 15:47] fcafra commented on #309
good news, thanks ...  I wait   :-)

[2018-01-23 17:27] EduardoDornel commented on #309
I have same problem

[2018-01-24 10:18] shripal17 commented on #309
When will it be live back again?

[2018-01-24 16:48] dwillmc commented on #309
Working out an issue with JCenter Bintray.
For the time being can all please use the repository directly if it's not working.

In your project level build.gradle you'll see a block that looks something like:

[code]

Just add the 2nd repository, `maven { url 'https://camerakit.bintray.com/camerakit-android-prereleases' }`

[2018-01-24 16:55] urschrei commented on #309
@dwillmc That doesn't resolve the sync error, unfortunately.

[2018-01-24 16:58] dwillmc commented on #309
What version are you trying to resolve?

[2018-01-24 16:59] urschrei commented on #309
@dwillmc Just tried again, and it's synced. Sorry about that!

[2018-01-25 11:41] mjmotani commented on #309
Try to sync with above way getting this issue
`Error:Could not create service of type TaskArtifactStateRepository using TaskExecutionServices.createTaskArtifactStateRepository().

[2018-01-25 19:55] hailovigor commented on #304
I have the same problem

[2018-01-26 12:06] BlueTreeMatt commented on #288
Any news on this issue? I'm experiencing this on an API Level 17 device

[2018-01-26 14:13] 4brunu commented on #288
There is an open PR with the fix https://github.com/CameraKit/camerakit-android/pull/306
Hope this is merged soon :)

[2018-01-26 15:10] BlueTreeMatt commented on #288
@4brunu

Is the fix in #306 not more related to the demo application rather than preview being stretched when calling the CameraKit API directly? I hope I'm wrong!

[2018-01-26 16:26] 4brunu commented on #288
Sorry, you are right. I was making a confusing between this issue and https://github.com/CameraKit/camerakit-android/issues/256#issuecomment-358837297.

[2018-01-28 04:02] neuhoffm opened #310 "Setting alpha on cameraview sets the cameraview to invisible"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

Android Studio 3.0.1 on Windows 10

### Steps to Reproduce

1. Change the background color of a view behind the cameraview to any color
2. Set the alpha of the cameraview to any decimal 0.5
3. Observe that only the color of the background is shown rather than the camerav

[2018-01-29 13:07] NetoDevel opened #311 "CameraKitEventCallback always returns NULL"
**Is this a bug report?**
Yes

**Have you read the Contributing Guidelines?**
Yes

**Environment**
Android Studio 3.0.1 on MacOs

**Actual Behavior**

 Version: `compile 'com.wonderkiln:camerakit:0.13.1'`

I created a view that uses the cameraview.
It works as follows:
Hold the button to open the camera, release the button to capture the photo.

Callback will always return null when capturing the

[2018-01-30 10:26] jlmcdonnell commented on #212
I am seeing this on the Galaxy S6 on 7.0

[2018-01-31 10:00] dakshays commented on #288
I'm facing the same issue. Is 1.0.0 snapshot released?

[2018-01-31 10:12] jlmcdonnell opened #313 "Custom video file not returned in VideoCapturedCallback"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

CameraKit 0.13.2

### Steps to Reproduce

1. Start recording a video using `CameraView#captureVideo(File, VideoCapturedCallback)`
2. Stop recording

### Expected Behavior

The video file passed in for Step 1 should be provided in `VideoCapturedCallback#videoCaptured`

##

[2018-02-02 07:53] DvlopRyanSpears commented on #260
Is your problem solved ? i'm facing the same problem too.

[2018-02-02 08:01] siralam commented on #260
@DvlopRyanSpears Haha although saying this here might be a bit rude, I gave up on this library soon after that.

A similar library would be [this one](https://github.com/natario1/CameraView), But I personally suggest [this one](https://github.com/Fotoapparat/Fotoapparat) the most.

I even wrote [my own one](https://github.com/siralam/CameraViewPlus) by forking Google's CameraView before discoverin

[2018-02-02 08:21] DvlopRyanSpears commented on #260
Thanks for your suggestion.

[2018-02-02 09:00] browningweb commented on #176
Do you have any update on this...? @dwillmc

[2018-02-02 13:10] austinkettner commented on #260
Apologies for the lack of direct involvement on this ticket. We have been hard at work on 1.0.0, and hope to issue a PR very soon for this in hopes of having testers help refine before we issue it. Our focus has been on a lot of these tickets and things like this should be resolved, but if not will be much simpler to directly handle now thanks to many of our changes.

Expect it soon!

[2018-02-02 13:11] austinkettner commented on #176
We are hoping to issue a 1.0.0 PR soon for testing and a lot of this is included. @browningweb

[2018-02-02 17:21] pablofridman commented on #288
Same error, preview is distorted when screen launch with portrait and then change to landscape.

[2018-02-02 17:42] littleariel commented on #288
FYI, I had the same issue and reverted back to 0.13.0 as recommended by this thread to fix it. Will stay on this version until 1.0.0 is released.

[2018-02-02 18:19] austinkettner commented on #288
Hoping to PR 1.0.0 this weekend. Will keep you posted.

[2018-02-02 22:29] Danm72 commented on #288
@littleariel I thought things were okay with 13 but i'm seeing some aspect ratio issues on some tablets, nexus 7/10 for example

[2018-02-03 07:30] wangchengyan opened #315 "How to add watermark in Video?"
Someguys know how to add watermark in video ? please tell me !

[2018-02-03 10:24] daniele93dc opened #316 "Failed to resolve android class after adding library"
When i add the library many android class was not found anymore, like
`import android.support.v4.media.session.MediaSessionCompat;` and many other.

[2018-02-03 16:45] bajajra30 commented on #100
I made an app in October which had flurgle instead of wonderkiln.
how to keep using that??
please help....

[2018-02-03 19:45] austinkettner commented on #100
Hey @bajajra30 for all versions now you need to use `wonderkiln` instead of `flurgle`. For v1.0.0 and on it will be a different reference as well

[2018-02-03 19:50] #4 closed

[2018-02-03 19:50] #9 closed

[2018-02-03 19:50] #10 closed

[2018-02-03 19:50] #14 closed

[2018-02-03 19:50] #15 closed

[2018-02-03 19:50] #17 closed

[2018-02-03 19:50] #27 closed

[2018-02-03 19:50] #28 closed

[2018-02-03 19:50] #29 closed

[2018-02-03 19:50] #30 closed

[2018-02-03 19:50] #43 closed

[2018-02-03 19:50] #44 closed

[2018-02-03 19:50] #50 closed

[2018-02-03 19:50] #51 closed

[2018-02-03 19:50] #52 closed

[2018-02-03 19:50] #54 closed

[2018-02-03 19:50] #55 closed

[2018-02-03 19:50] #59 closed

[2018-02-03 19:50] #60 closed

[2018-02-03 19:50] #64 closed

[2018-02-03 19:50] #66 closed

[2018-02-03 19:50] #67 closed

[2018-02-03 19:50] #68 closed

[2018-02-03 19:51] #69 closed

[2018-02-03 19:51] #71 closed

[2018-02-03 19:51] #74 closed

[2018-02-03 19:51] #75 closed

[2018-02-03 19:51] #79 closed

[2018-02-03 19:51] #82 closed

[2018-02-03 19:51] #86 closed

[2018-02-03 19:51] #88 closed

[2018-02-03 19:51] #90 closed

[2018-02-03 19:51] #91 closed

[2018-02-03 19:51] #92 closed

[2018-02-03 19:51] #93 closed

[2018-02-03 19:51] #94 closed

[2018-02-03 19:51] #95 closed

[2018-02-03 19:51] #96 closed

[2018-02-03 19:51] #103 closed

[2018-02-03 19:51] #105 closed

[2018-02-03 19:51] #106 closed

[2018-02-03 19:51] #109 closed

[2018-02-03 19:51] #110 closed

[2018-02-03 19:51] #115 closed

[2018-02-03 19:51] #120 closed

[2018-02-03 19:51] #121 closed

[2018-02-03 19:51] #122 closed

[2018-02-03 19:51] #123 closed

[2018-02-03 19:51] #124 closed

[2018-02-03 19:51] #125 closed

[2018-02-03 19:51] #127 closed

[2018-02-03 19:51] #128 closed

[2018-02-03 19:51] #129 closed

[2018-02-03 19:51] #133 closed

[2018-02-03 19:51] #135 closed

[2018-02-03 19:51] #138 closed

[2018-02-03 19:51] #142 closed

[2018-02-03 19:51] #143 closed

[2018-02-03 19:51] #147 closed

[2018-02-03 19:51] #148 closed

[2018-02-03 19:51] #149 closed

[2018-02-03 19:51] #152 closed

[2018-02-03 19:51] #155 closed

[2018-02-03 19:51] #157 closed

[2018-02-03 19:51] #162 closed

[2018-02-03 19:51] #164 closed

[2018-02-03 19:51] #166 closed

[2018-02-03 19:51] #167 closed

[2018-02-03 19:51] #169 closed

[2018-02-03 19:52] #174 closed

[2018-02-03 19:52] #176 closed

[2018-02-03 19:52] #177 closed

[2018-02-03 19:52] #184 closed

[2018-02-03 19:52] #202 closed

[2018-02-03 19:52] #219 closed

[2018-02-03 19:52] #240 closed

[2018-02-03 19:52] #241 closed

[2018-02-03 22:55] Paul75 commented on #189
Thanks for close without help .....

[2018-02-03 22:57] austinkettner commented on #189
@Paul75 We are closing stale tickets is all, we have issued a lot of versions since October, the latest being 0.13.x and a lot of these are resolved, but it's very hard to go through all tickets and comment directly.

If you test the latest version of CameraKit and still have this issue, comment and I will reOpen and attach to the 1.0.0 milestone!

Apologies if closing this made you feel we are ig

[2018-02-05 10:18] cuilongzhe commented on #202
@browningweb @austinkettner
Can you update what happened here?
Why is it closed without any info?

[2018-02-05 15:03] austinkettner commented on #202
@cuilongzhe This was closed mainly as there is no recent reported issues on this using the latest versions of CameraKit. Additionally we don't have any reproduction or more detailed bug information. If you want to open a new ticket following the Issue Guidelines we will attach it to the 1.0.0 release which is coming in the next few days and ensure it's resolved prior to merging 1.0.0 in.

Hope tha

[2018-02-05 15:08] cuilongzhe commented on #202
@austinkettner
The problem is that it was inevitable for me to downgrade from 0.13.1 to 0.13.0 because of #288.
If 1.0.0 is going to fix #288 as well, then I will be happy to wait 1.0.0 in which both issues get fixed hopefully.

[2018-02-05 21:54] austinkettner commented on #202
Ah makes sense, yes #288 will be resolved in 1.0.0

[2018-02-06 11:36] Diederikjh commented on #241
I re-tested this crash with version 0.13.1 of the library, and the behaviour is a bit different:  The preview just stops, but the app no longer crashes. Also switching to another app, and back again, wakes up the preview.

[Repo](https://github.com/Diederikjh/camerakit-crash) I tested on.

[2018-02-07 07:32] Mohammad-Zyadat opened #317 "Fail to connect to camera"
Non-fatal Exception: java.lang.RuntimeException: Fail to connect to camera service
       at android.hardware.Camera.(Camera.java:545)
       at android.hardware.Camera.open(Camera.java:385)
       at com.wonderkiln.camerakit.Camera1.openCamera(Unknown Source)
       at com.wonderkiln.camerakit.Camera1.start(Unknown Source)
       at com.wonderkiln.camerakit.CameraView$2.run(Unknown Source)

[2018-02-07 13:47] austinkettner commented on #317
Hi @Mohammad-Zyadat can you please follow the issue template? We will then reOpen this ticket.

[2018-02-07 13:47] #317 closed

[2018-02-07 13:48] austinkettner commented on #315
Hi @wangchengyan this has been added to our 1.1.0 milestone.

[2018-02-07 13:49] austinkettner commented on #309
This should all be cleared up now. Let me know if you run into any other issues resolving the desired package version.

[2018-02-07 13:49] #309 closed

[2018-02-08 08:00] fcafra commented on #309
@dwillmc  @austinkettner  Thanks

[2018-02-08 19:50] akvashi commented on #160
Why was this closed? Doesnt seem to have a reason for this?

[2018-02-08 20:24] austinkettner commented on #160
This was closed as it was a stale issue, we hope to include this in our v1.0.0, reOpened as marked as a feature/enhancement

[2018-02-08 21:22] caleb-allen commented on #300
Would love some kind of callback to handle permission rejections. Otherwise I'll probably handle permissions before ever running camerakit code

[2018-02-08 21:26] austinkettner commented on #300
Noted!

[2018-02-08 21:36] caleb-allen commented on #309
Could we get some clarification on http://docs.camerakit.website for which version we should be using?

Docs site shows `0.12.0`, master README shows `0.13.1`

[2018-02-08 21:37] austinkettner commented on #309
Latest is always shown in the README, so currently `0.13.1` we have some big documentation updates coming soon.

[2018-02-08 21:37] caleb-allen commented on #309
Awesome! Looking forward to it

[2018-02-08 22:27] caleb-allen commented on #229
I'm having this same issue. Camera1 is only looking at external storage

[2018-02-08 22:28] austinkettner commented on #316
Hey @daniele93dc can you please update this ticket/issue to reflect our issue template? Once complete, we will reOpen.

[2018-02-08 22:28] #316 closed

[2018-02-09 09:06] yangzhenqi opened #319 "How to remove the sawtooth"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
macOS,AndroidStudio3.0,CameraKit 0.13.2

### Steps to Reproduce

1.`ckPinchToZoom="true"`
2.Increase the focal length of the camera

### Expected Behavior

Normal Preview

### Actual Behavior

Sawtooth appears

### Reproducible Demo

[2018-02-09 09:41] Newwaygo commented on #302
I met the same bug,
How to solve?

[2018-02-09 18:16] austinkettner commented on #319
Hi @yangzhenqi can you please update this ticket to reflect our Issue Template? Once updated I can reOpen this!

[2018-02-09 23:58] daniele93dc opened #320 "Instance without layout coponent"
Is possible to create an istance of Cameraview without layout componenet CameraView?

[2018-02-10 00:15] austinkettner commented on #320
Hi @daniele93dc can you please follow the Issue Template and once updated I can reOpen this ticket! Thanks!

[2018-02-10 00:15] #320 closed

[2018-02-10 05:40] AndroidJohnsonWang opened #321 "Can camerakit-android add panoramic mode?"
Can camerakit-android add panoramic mode?

[2018-02-11 08:04] yangzhenqi commented on #319
@austinkettner Please open it again. Thank you.

[2018-02-11 12:15] daniele93dc opened #322 "Create new istance without preview"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

### Steps to Reproduce

(Write your steps here:)

1. Create a new CameraView instance with cameraview = new CameraView(this)
2. start camera
3. take a photo

### Expected Behavior

get a photo

### Actual Behavior

Crash error: FATAL EXCEPTION: CameraViewWorker
after onI

[2018-02-11 14:53] austinkettner commented on #227
Resolved in our 1.0.0 https://github.com/CameraKit/camerakit-android/pull/318 -- please test it out using the notes in the PR and comment in the PR if you see any further issues on any devices!

[2018-02-11 14:53] #227 closed

[2018-02-11 15:15] austinkettner commented on #319
ReOpened 👍

[2018-02-12 13:34] seanashmore commented on #189
I'm seeing this issue aswell if this could please be re-opened. Thank you.

[2018-02-12 14:30] austinkettner commented on #189
ReOpened for you!

[2018-02-12 22:05] seanashmore commented on #189
Ok so I found the solution to this in a very old stack overflow question (of course) https://stackoverflow.com/a/23424889.

It's not a library issue, it's my own fault for trying to pass too much data as an intent extra. I don't know if this is what @Paul75 was doing but after removing the extra from my result intent the issue no longer occurred.

I hope this helps.

[2018-02-17 11:52] amitsharma492 commented on #283
@georgeRCluj I am facing the same issue. Can you help regarding this?

[2018-02-19 11:11] georgeRCluj commented on #283
@amitsharma492, did you manage to find a solution? Otherwise I will write you how I did and it worked absolutely great!

[2018-02-19 13:08] austinkettner commented on #283
@georgeRCluj an example would be appreciated, we can include some additional documentation about this in the documentation site. Additionally, we would appreciate if anyone can test out the 1.0.0 PR for issues like this and comment.

[2018-02-20 05:07] iamutkarshtiwari commented on #269
Facing the same issue

[2018-02-20 08:30] banxxi commented on #308
Have you found any solution for this, happens to me in Samsung galaxy s4

[2018-02-20 11:48] tsoumalis commented on #278
The origin of the problem is the fact that you try to merge 2 videos with different configurations. In most devices, videos from the front and rear camera have a difference of 180 degrees in their rotation metadata.

When merging 2 videos with Mp4 Parser you must be careful that the 2 videos have exactly the same features. This includes resolution, frame rate, DAR and rotation. So, in order to mak

[2018-02-21 11:06] meMuhammadkamal opened #323 "java.lang.NullPointerException: Attempt to invoke virtual method 'void android.hardware.Camera.reconnect()"
The fragment started then closed very quickly this exception shows up:

    java.lang.NullPointerException: Attempt to invoke virtual method 'void android.hardware.Camera.reconnect()' on a null object reference
                                                                        at com.wonderkiln.camerakit.Camera1.setupPreview(Camera1.java:696)

[2018-02-22 05:42] harishvishwakarma commented on #73
Is this in the code yet? I am getting the issue on Samsung

[2018-02-22 09:13] cuilongzhe commented on #202
@austinkettner Any update on when 1.0.0 will come out?

[2018-02-22 09:31] aravindhkumar23 opened #324 "Lock orientation to portrait - preview stretches"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

com.wonderkiln:camerakit:0.11.2

### Steps to Reproduce

1. Open app in landscape mode -> preview stretches
2. Rotate to portrait mode -> again preview stretches

### Expected Behavior
Preview should not be stretched

### Actual Behavior
 Preview stretches on orientation

[2018-02-22 09:46] aravindhkumar23 opened #325 "Selfie Screen flash not working - samsung s8+"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

com.wonderkiln:camerakit:0.11.2

### Actual Behavior
 **Selfie screen flash is not working,** it works with normal flash(both front and back).
but some devices are provided with screen flash which is not working when the flash is enabled.

Tested in OnePlus-5, Samsung s8

[2018-02-22 10:25] abhinav272 opened #326 "Camera Freezes"
### Is this a bug report?

No

I wonder why camera preview and app freezes when I call cameraview.captureVideo() and cameraview.stopVideo().

That is, whenever I start and end my video recording my app freezes, I can see frames skipped.
I am sure I am not doing anything blocking, Any Help?

[2018-02-22 12:02] ash3734 opened #327 "HOW Can I set Exposure of Camera???"
### Is this a bug report?

NO

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

YES

### Environment

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

(Write what happened. Add screenshots!)

### Reproducible Demo

(Paste the link to an example project and exact instructions to

[2018-02-22 15:13] austinkettner commented on #73
@harishvishwakarma Can you test this in the 1.0.0 PR? https://github.com/CameraKit/camerakit-android/pull/318 - should be resolved, but if not let me know!

[2018-02-22 15:13] austinkettner commented on #202
You can start initial testing here: https://github.com/CameraKit/camerakit-android/pull/318 =)

[2018-02-22 15:16] austinkettner commented on #327
Hi Ash, can you please fill in the appropriate issue template or describe your question in greater detail? We will then open this back and up and assign it proper labels!

[2018-02-22 15:16] #327 closed

[2018-02-22 15:17] austinkettner commented on #326
@abhinav272 Can you please provide device, CameraKit version, Android version, and other information on the issue? We will then reOpen

[2018-02-22 15:17] #326 closed

[2018-02-22 15:19] abhinav272 commented on #326
Android Version 7.1.1
Camera kit 0.0.13
Nexus 5

Do you require any other information?

[2018-02-22 15:20] austinkettner commented on #326
Nope, can you test https://github.com/CameraKit/camerakit-android/pull/318 this issue should be resolved in that. This was a noted issue in 0.13.x releases. Please comment in that PR with any issues, we will be quick to address.

[2018-02-23 03:38] harishvishwakarma commented on #73
@austinkettner : It is resolved in the mentioned PR. I am very much impressed at how much easy this makes Camera implementation. Thanks for the library.
When are you planning to put this to master branch? I am planning to use it for a production application.
 Methods have changed in this one though and cannot really find documentation for that.
1. How to turn on autofocus?
2. How to turn on auto-c

[2018-02-23 08:36] FrantisekGazo commented on #159
I can see the same error in `v0.13.0`
[code]

[2018-02-23 14:31] austinkettner commented on #159
Can you please take a look at https://github.com/CameraKit/camerakit-android/pull/318 and comment if these issues exist within our 1.0.0 release?

[2018-02-23 14:36] austinkettner commented on #73
Glad it's working much better in the 1.0.0! Can you please comment in the PR with 1-3, we will add documentation for this shortly.

Documentation as a whole for 1.0.0 is still coming, so we plan on having a fully dedicated documentation site ahead of merging.

[2018-02-24 00:05] valterh4ck3r commented on #322
What your device ?  manufacturer and model ?

[2018-02-26 15:04] #73 closed

[2018-02-26 15:08] austinkettner commented on #311
This should be resolved in #318 give it a go @NetoDevel and let us know!

[2018-02-26 15:08] #311 closed

[2018-02-26 15:08] austinkettner commented on #321
Added to our 1.1.0 Milestone!

[2018-02-26 19:23] austinkettner commented on #290
This should be resolved in #318

[2018-02-26 19:23] #290 closed

[2018-02-27 11:18] Danm72 commented on #158
Did you guys figure anything out here?

[2018-02-27 15:59] austinkettner commented on #158
Can you test this on the 1.0.0 PR here: #318 -- this issue should be resolved. We are heavily focused on getting 1.0.0 shipped so the goal is integrate all testing around that, if this issue still exists, add a comment in the PR please! =)

Closing as I believe this to be resolved in 1.0.0, but any PR comments will be addressed rapidly!

@Danm72 @jondoes @Pear0 @Xenero

[2018-02-27 15:59] #158 closed

[2018-02-28 13:41] austinkettner commented on #100
Will look into this and republish a 0.9.18 if needed today! Will comment later today @himangipatel

[2018-02-28 13:59] himangipatel commented on #100
Thanks.

[2018-02-28 14:31] bajajra30 commented on #100
Hey I have a saved copy of older version. Juat save it as a library and
import to get going.

On Feb 28, 2018 7:29 PM, "Himangi Patel" <notifications@github.com> wrote:

[2018-02-28 19:15] austinkettner commented on #100
@himangipatel Just use com.flurgle:camerakit for 0.9.x releases and all should work out well!

[2018-02-28 19:17] dwillmc commented on #100
The old flurgle group-name releases seem to have been taken of jcenter so they won't resolve automatically.

Can you change

[code]

to

[code]

[2018-03-01 05:23] himangipatel commented on #100
@austinkettner  Still I am not able to sync my com.flurgle:camerakit:0.9.18

I have also tried  below code :

repositories {
    maven { url 'https://maven.fabric.io/public' }
}
to

repositories {
    maven { url 'https://maven.fabric.io/public' }
    maven { url 'https://dl.bintray.com/flurgle/maven' }
}

[2018-03-01 05:24] himangipatel commented on #100
**@bajajra30  can you please provide me your copy version ?**

[2018-03-01 05:25] dwillmc commented on #100
@himangipatel the version you're looking for is still hosted here:

https://dl.bintray.com/flurgle/maven/com/flurgle/camerakit/0.9.18/

You should be able to download `camerakit-0.9.18.aar` and use it directly

[2018-03-01 05:27] himangipatel commented on #100
@dwillmc Yes Thank you so much

[2018-03-01 21:42] LivioGama commented on #55
Can't use this lib just for that. Too bad.

[2018-03-02 19:01] daniele93dc commented on #322
Galaxy s5 and Asus Zenfone

[2018-03-03 14:17] austinkettner commented on #322
Can you also outline what version of CameraKit you are using here?

[2018-03-03 22:05] daniele93dc commented on #322
both 0.13.2 and 1.0.0

[2018-03-07 01:37] SergeyTrukhachev commented on #323
Same here. Google Pixel XL, Android Oreo.

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.hardware.Camera.reconnect()' on a null object reference
       at com.wonderkiln.camerakit.Camera1.setupPreview(Camera1.java:696)
       at com.wonderkiln.camerakit.Camera1.start(Camera1.java:127)
       at com.wonderkiln.camerakit.CameraView$2.run(CameraView.j

[2018-03-07 12:02] AdrianMetzner opened #328 "Video Recording does not return Video file on Pixel (Android 8.1)"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes
### Environment

Google Pixel
Android 8.1.0
Lib version: 0.13.0 (also appears under 0.13.2)

### Steps to Reproduce
Part 1:
1. Start Activity with camera view  which registers itself as the CameraKitEventListener at the view
2. Start Video capture via  captureVideo();
3. Stop Video captur

[2018-03-07 19:52] austinkettner opened #329 "Multi-Camera API Support (Android P)"
In Android P there is a new Multi-Camera API that CameraKit can cover within our 1.x Series.

[code]

(Official Ticket by: Austin Kettner @austinkettner)

[2018-03-08 13:18] AdrianMetzner opened #330 "Nexus 7 2012 crashes when opening camera"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

Nexus 7 (Version 2012)

### Steps to Reproduce

1.  Start an activity with the camera view
     a.) Note that the camera has to be set to be set with `camerakit:ckFacing="front"` as the device does not have a back camera
2.   start the camera in onResume as per docu

###

[2018-03-08 16:34] Zarkopafilis opened #331 "Black camera preview as soon as 'Allow' is clicked (new permissions)"
### Is this a bug report?
Yes
(Maybe)

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
Nexus 6p API 25 on android studio emulator

### Steps to Reproduce

Just add a camera view and set managing permissions

(Write your steps here:)

1. Add camera view
2. Set managing Permissions to auto
3. Run on the emulator

### Expected Behavior

As soon as the u

[2018-03-08 23:25] austinkettner commented on #294
Should be resolved in #318 can you please test that out and I will reOpen this if you comment that it is still an issue.

[2018-03-08 23:25] #294 closed

[2018-03-08 23:25] austinkettner commented on #288
Should be resolved in #318 can you please test that out and I will reOpen this if you comment that it is still an issue.

[2018-03-08 23:25] #288 closed

[2018-03-08 23:26] austinkettner commented on #323
Should be resolved in #318 can you please test that out and I will reOpen this if you comment that it is still an issue.

[2018-03-08 23:26] #323 closed

[2018-03-08 23:26] #291 closed

[2018-03-08 23:27] #245 closed

[2018-03-08 23:27] austinkettner commented on #245
A WIP in #318 can you please test that out and provide comments as to what you would like to see from a Listener class?

[2018-03-08 23:28] austinkettner commented on #201
Should be resolved in #318 can you please test that out and I will reOpen this if you comment that it is still an issue.

[2018-03-08 23:28] #201 closed

[2018-03-08 23:28] #189 closed

[2018-03-09 19:44] austinkettner commented on #324
This should be resolved in #318 - let me know if not and I can reOpen this.

[2018-03-09 19:44] #324 closed

[2018-03-09 19:45] austinkettner commented on #277
This shouldn't be an error in #318 - let me know if the issue persists

[2018-03-09 19:45] #277 closed

[2018-03-11 06:15] rohanjain1 opened #332 "startPreviewFailed error on 0.13.1"
Hi,
I'v recently integrated cameraKit into my application and receiving crash reports:

Fatal Exception: java.lang.RuntimeException: startPreview failed
       at android.hardware.Camera.startPreview(Camera.java)
       at com.wonderkiln.camerakit.Camera1.start(Camera1.java:128)
       at com.wonderkiln.camerakit.CameraView$2.run(CameraView.java:266)
       at android.os.Handler.handleCallback(Han

[2018-03-11 17:32] Zarkopafilis commented on #331
If the activity (or the fragment's activity) that holds the camera view listens for successful permission requests and then re-initializes the camera view, everything works properly, but this is a workaround.

[2018-03-12 12:20] muratYamann opened #333 "Select From Gallery Show All Folder"
**Hi CameraKit Team,**

How to show all photo files when selected galery.

![whatsapp image 2018-03-12 at 15 17 38 1](https://user-images.githubusercontent.com/13666793/37283338-aacabbc0-2608-11e8-99f3-58d3dfa7155b.jpeg)
![whatsapp image 2018-03-12 at 15 17 38](https://user-images.githubusercontent.com/13666793/37283339-aaeee950-2608-11e8-9e7f-e7038966c1ec.jpeg)

[2018-03-12 15:40] rohanjain1 opened #334 "Camera preview becomes severly stretched"
I have implemented the camera kit by giving it matchParent bounds.
I want it to cover the full screen. My app operates in portrait mode only.

Steps to recreate the issue : (100% reproducibility)
- launch the camera preview  (opens in portrait mode, aspect ratio is correct)
- rotate the device by 90 degrees so the device is in landscape orientation.
- Switch camera
- Notice that the preview gets e

[2018-03-12 16:25] austinkettner commented on #334
What version are you using?

[2018-03-12 17:17] anonym24 opened #335 "does this project allow to record video to removable micro sdcard?"
does this project allow to record video to removable micro sdcard?

[2018-03-12 17:19] austinkettner commented on #335
We currently don't have a documented way to control the save directory. It is coming in 1.x.

[2018-03-12 17:20] austinkettner opened #336 "Ability to determine save location"
Add a documented way to tell CameraKit where to save videos and files, with included Video/Still-Photo support.

[2018-03-12 17:20] austinkettner commented on #335
Please see: https://github.com/CameraKit/camerakit-android/issues/336 which I made to track this =)

[2018-03-12 17:20] #335 closed

[2018-03-12 17:20] anonym24 commented on #335
using ffmpeg recorder I had problems with it https://github.com/bytedeco/javacv/issues/839

[2018-03-12 17:21] #334 closed

[2018-03-12 17:55] rohanjain1 commented on #334
I'm using 0.13.1

[2018-03-12 18:12] austinkettner commented on #334
please try 1.0.0 out @rohanjain1

[2018-03-16 06:37] muratYamann opened #337 "ImagePicker"
**Hi  CameraKit Team ,**

I want select photo in gallery but  my gallery not show image.

Device : SONY XPERİA, OS  7.0

![screenshot_20180315-130833](https://user-images.githubusercontent.com/13666793/37506957-6830df4a-28fd-11e8-8fae-e8b54a6a576c.png)

[2018-03-16 16:06] TheHollidayInn commented on #328
This is happening on some devices with Android 7 as well. I'll post if I can get more info.

[2018-03-19 02:28] emersoncloud commented on #213
I just put a comment on your other issue. Can you try and replicate on #318? Let me know if not, and I can reOpen this.

[2018-03-19 02:28] #213 closed

[2018-03-19 02:30] #251 closed

[2018-03-19 02:31] emersoncloud commented on #289
Hi @developer-- can you please follow the Issue Template for CameraKit? Once updated I'll be sure to reOpen this ticket. Thanks!

[2018-03-19 02:31] #289 closed

[2018-03-19 02:36] emersoncloud commented on #242
@sugarmanz Are you still having an issue? If yes, please fill out the Issue Template and report back here, I will reOpen the ticket. Thanks!

[2018-03-19 02:36] #242 closed

[2018-03-19 18:01] cuilongzhe commented on #286
any update on this?

[2018-03-19 22:24] austinkettner commented on #286
Hey @cuilongzhe we are working on this as part of 1.x releases. I have added this to the Milestone 1.1.0 and we will keep you posted along the way.

[2018-03-20 11:09] jjpatel1996 opened #338 "Gradle Build error "Failed to resolve implementation 'com.camerakit:camerakit:1.0.0'""
First of all sorry for removing your pre-written description. i was getting error when i add implementation 'com.camerakit:camerakit:1.0.0' in Gradle App Module. it giving error that "Failed to resolve implementation 'com.camerakit:camerakit:1.0.0'".

[2018-03-20 17:01] chrbien commented on #308
Happens to a customer of mine as well, also on S4. Any solution yet?

[2018-03-21 00:01] emersoncloud commented on #338
Hi @jjpatel1996 take a look at the Dependency section of the latest PR notes, #318. You should be using this implementation line `implementation group: 'com.camerakit', name:'camerakit', version:'1.0.0-Snapshot', changing: true`

[2018-03-21 00:36] emersoncloud commented on #255
Hey guys we've created a new ticket to track this issue #336. It's currently set for milestone 1.1.0. Comment there if you have any other questions, thanks!

[2018-03-21 00:36] #255 closed

[2018-03-21 04:32] jjpatel1996 commented on #338
Thanks  @emersoncloud for response.. But it still giving me this error "Failed to resolve: com.camerkit:camerakit:1.0.0-Snapshot".

[2018-03-21 04:35] jjpatel1996 commented on #338
Thanks @emersoncloud for help. It's working now.

[2018-03-21 04:35] #338 closed

[2018-03-22 08:31] cuilongzhe commented on #202
@austinkettner Just following up about what's going on with #318
We have some prod users reporting this crash.
Can you please give me some ETA on this issue? Thanks in advance.

[2018-03-22 17:06] austinkettner commented on #202
@cuilongzhe We are working on pushing an update to the 1.0.0 branch/pr in the next 24hrs. It will have near full functional coverage of previous 0.13.x so it should be a good go to solution at that point. We intend to issue the full 1.0.0 by end of month as a tagged and distributed release.

[2018-03-23 14:43] emersoncloud commented on #308
@youyuanme Could you post a comment following our issue template? I'm having trouble understanding the expected behavior here.

[2018-03-23 14:56] emersoncloud commented on #304
Hi @wangchengyan. Could you post another comment following our issue template? I'll reOpen this issue once you have. Thanks!

[2018-03-23 14:56] #304 closed

[2018-03-23 15:06] emersoncloud commented on #303
Hi @cxmmxc I haven't been able to reproduce this issue on my own. Could you post a video or screenshots of what's happening? The logcat output would also be helpful to diagnose. I'll reOpen this issue once you have. Thanks!

[2018-03-23 15:06] #303 closed

[2018-03-23 15:12] austinkettner commented on #302
Hey @LordFluffy and @Newwaygo Can you give us specific examples of the function being called (code block), the device your using (that is running Android sub-21), and the CameraKit version (0.12.x, 0..13.x) your using?

If occurring within the simulator, that is fine too, just want some additional clarity here before we tag this and attempted to resolve. Additionally, we recommend using #318 going

[2018-03-26 08:41] chrbien opened #341 "Samsung S4 green screen in preview"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
Samsung S4

### Steps to Reproduce
Open a camera preview with CameraKit

### Expected Behavior

Camera preview shows surroundings.

### Actual Behavior

Preview shows a large green area, only part of surrounding is visible.

![elten-scanner](https://user-images.githubuser

[2018-03-26 19:41] austinkettner opened #342 "Individual Frame Inspection when using CameraKit Video"
Ability to get individual frames of a video and pick said frames

[2018-03-26 23:21] emersoncloud commented on #341
@chrbien thanks for the issue! Could you test on the latest PR #318? The green screen issue should be resolved, we haven't gotten any more reports of it being a problem. Let me know if that works.

[2018-03-27 09:57] chrbien commented on #341
Hello,
thanks for the fast response. I played around a bit with the current 1.0.0 version but it does not seem to be in a state that I can integrate easily into our current project. I do not own a S4 myself and I cannot give out a test version to my customer with so many important features still missing. But this is no time critical issue (at least for me). I will wait a bit and respond later afte

[2018-03-27 23:28] emersoncloud commented on #341
We are rewriting our documentation for 1.0.0, hopefully that will help with the integration on your end. I'll add this bug to the 1.0.0 release and I'll be sure to circle back when we've got the official release out! Thanks for your understanding.

[2018-03-27 23:41] emersoncloud opened #343 "Ability to access live video output"
Add support in CameraKit to access video output in real time. Will be an add-on rather than core functionality and is set for the 1.2.0 release.

Official Maintainer Ticket: @emersoncloud

[2018-03-27 23:45] emersoncloud opened #344 "Capture video without audio permission"
Add support to capture video without requiring audio permission.

Official Maintainer Ticket: @emersoncloud

[2018-03-29 09:46] bard0x opened #345 "Activate Flash like native camera when I Take a picture"
### Is this a bug report?

YES

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
compile 'com.wonderkiln:camerakit:0.13.1'

### Steps to Reproduce

1. cameraView.setMethod(CameraKit.Constants.METHOD_STILL);
2. cameraView.setFlash(CameraKit.Constants.FLASH_ON);
3. click on Capture Button that invoke captureImage() method

### Expected Behavior

I would

[2018-03-29 12:58] muratYamann opened #346 "Camera1.java line 128 com.wonderkiln.camerakit.Camera1.start"
**I m Use last version  :   compile 'com.wonderkiln:camerakit:0.13.1'**

[2018-03-30 02:15] valterh4ck3r commented on #229
Same issue

[2018-03-30 02:16] valterh4ck3r commented on #283
Same issue

[2018-04-01 06:54] BorislavKamenov commented on #296
Try to put specific value (like 300dp) instead of match_parent of the <CameraView ... />
There is similar bug with statusbar and toolbar. I wanted my CameraView to expand to screen width but that cause CameraView to cover both status bar and toolbar.
If you really want your cameraview to get screen width, get the screenwidth in pixels - 1 (yes, subtract 1px) and put it programatically to LayoutPar

[2018-04-04 16:34] emersoncloud commented on #346
@muratYamann I was not able to recreate your same issue. Could you attach your app level build.gradle file? As well as the file that is causing this error.

We are working hard on v1.0.0 release which includes a lot of bug fixes and performance improvement. Check out the PR here #318 where you can find details and how to get started with v1.0.0. You might want to try this instead, but I can help y

[2018-04-05 22:00] CodeCombiner opened #348 "Blacked preview screen on many devices"
Many devices display camera preview screen blacked. I think it might be a problem with autoexposure. The device have partial support of Camera2 API and are not legacy completely.

[2018-04-07 08:39] devingDev commented on #174
I added the CameraKitView to a linearlayout which was added to a fragment page in a tabbed activity.

1. It looks stretched on the screen
2. When recordin it looks also weirdly stretched.
3. When viewing the file afterwards it also looks weird.

Tested video capture with normal camera app on android and it was not stretched.

[2018-04-10 13:44] emersoncloud commented on #333
Hi @muratYamann Could you fill out an issue following our issue template? I'm not sure what the expected behavior is and what is actually happening. Thanks!

[2018-04-10 13:46] #346 closed

[2018-04-10 13:48] emersoncloud commented on #332
Hi @rohanjain1 we are working hard on version 1.0.0 which includes many fixes and refactors of the codebase. Could you test your application on the latest PR #318? Let me know if you run into any issues!

[2018-04-10 13:48] #332 closed

[2018-04-10 13:50] emersoncloud commented on #348
Hi @CodeCombiner thanks for using CameraKit. Could you fill out an issue template? That will help me get to the bottom of your problem. Thanks!

[2018-04-10 16:48] CodeCombiner commented on #348
Ok, I will install demo app and try to reproduce the issue.

[2018-04-10 23:53] Joseph82 commented on #283
Same issue here!

[2018-04-11 16:55] anyzhouhui opened #349 "Why do you distort when you preview?"

[2018-04-12 04:07] emersoncloud commented on #349
Hi @anyzhouhui could you post a comment following our issue template? That will help me get a better understanding of what's going on. Thanks!

[2018-04-12 15:15] damahboy opened #350 "logo for CameraKit."
I am @damahsyari and I mean sending this message because I want to contribute to CameraKit. may be useful for his changes to a better direction, or not at all helpful but I have at least tried to give the best for CameraKit
![camerakit](https://user-images.githubusercontent.com/38080324/38686585-30df9ffa-3e64-11e8-819f-369dbaa1dd51.png)
Logo white and black
![hitam putih](https://user-images.githu

[2018-04-12 23:45] epekel commented on #348
I am facing this issue as well. Testing on a Samsung Galaxy S6. Front camera seems to work fine, but back camera preview is a black screen. I toggle the facing with a button, and the method `cameraView.toggleFacing()`. When I pressed the button to `captureImage()`, I got this Exception message:

[code]

Hopefully might narrow down the possible cause of this issue.

[2018-04-15 12:05] daniele93dc commented on #322
any news?

[2018-04-15 20:09] jproffitt commented on #302
This happened a few times to some of our users. it was API 24 on a Motorola DROID Turbo 2. Camerakit 0.13.1. This stack overflow question might be the same thing: https://stackoverflow.com/questions/7942378/android-camera-will-not-work-startpreview-fails

It appears to be happening right here: https://github.com/CameraKit/camerakit-android/blob/1c2770c98ecd72543943cf60d27d64a9529bdae7/camerakit-co

[2018-04-15 20:56] kheldiente commented on #348
Hi all, recently experienced this using 0.13.1. Rear camera preview is pure black. Changing it back to 0.13.0 fixed it. Hope this resolves your issue as well.

[2018-04-16 16:15] epekel commented on #348
@kheldiente Thanks for the suggestion. Forgot to mention that I am using [this](https://github.com/CameraKit/camerakit-android/pull/318) (release v1.0.0 snapshot)

[2018-04-18 14:35] KRNareshKumar commented on #325
I am also facing a similar issue , where normal flash works fine but Screen flash is not working.

Could you provide with an update if there is any workarounds I can use to get over it.

Thanks in advance.

[2018-04-20 06:33] Xenero commented on #295
Still no 1.0.0 public release?

[2018-04-20 20:43] edwardotis commented on #176
@austinkettner Can you post a link here to the PR and/or feature docs? This github issue gets high SEO for the topic.

[2018-04-22 10:42] prestashopy opened #351 "Error preview in capture landscape"
### Is this a bug report?

Yes,  when I capture video in landscape, after the preview of the camera it is bad scaling.

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

I could solve it by adding the following lines in the SurfaceViewContainer.java file, layoutChild function:

    private void layoutChild(int width, int height) {
        final View child = getChildAt(0);

[2018-04-23 10:22] vikassminq opened #352 "How to set extra_duration_limit?"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

### Environment
Yes

[2018-04-24 06:03] brianliyang commented on #250
Just wanted to bump this and remind the devs to update the documentation. I was upgrading my API from "com.flurgle:camerakit:0.9.17" and although it wasn't hard to find this post, I think new users might be inconvenienced with outdated docs. Thanks for this library!

[2018-04-24 12:10] vikassminq commented on #201
Still i am facing this issue in 0.13.1 . its solve in v1.0.0 .

[2018-04-24 18:07] iftekhar-ahmed commented on #243
@froesmatheus I ended up ditching the library. Later discovered the library had nothing to do with the kotlin errors. Google on some appcompat version update, decided all getContext(), getActivity() calls are candidates for null return types and kotlin compiler just put the icing on the cake(!). That's why so many errors showed up. You gotta put the Force RTE !! or check nulls with elvis ?: here

[2018-04-27 02:10] emersoncloud commented on #350
@damahboy Thanks for those designs! We are pretty well set with our current logos but I'll let you know if we end up using what you made for anything in the future!

[2018-04-27 02:10] #350 closed

[2018-04-27 02:13] emersoncloud commented on #351
Hi @prestashopy thanks for bringing this to our attention. What version of Camera Kit are you using?

[2018-04-27 06:32] GuoJinyu commented on #348
I find this too，as @CodeCombiner see，in some of devices， camera preview is much darker than the system camera app or other apps' camera function. Because of the exposure process?

[2018-04-27 12:27] austinkettner commented on #348
@epekel Can you provide some screenshots or examples? We will push fixes to the 1.0.0 release addressing this if we can trace it down. Device and OS version would be helpful too.

[2018-04-29 03:51] GeoffGodwin commented on #259
Is it possible that camerakit isn't checking the EXIF orientation? I haven't had time to check yet but in a previous app when I implemented the camera API manually I had to explicitly check the EXIF orientation data from the camera and rotate accordingly.

This Stack Overflow post covers it:
https://stackoverflow.com/questions/14066038/why-does-an-image-captured-using-camera-intent-gets-rotated-on

[2018-04-29 12:31] austinkettner commented on #259
Hey guys, can you please try the 1.0.0 PR? #318 -- it addresses this issue in a very robust way. If you notice any issues post in the PR as we are getting ready to release a stable version of that.

[2018-04-29 12:31] #259 closed

[2018-04-29 12:50] Qdafengzi opened #353 "How can I use the image quality ? 100 still not very well"
The photo does not have a native camera with high detail, obvious noise, and graininess.

[2018-04-29 14:14] austinkettner commented on #353
Hey @Qdafengzi can you please provide more information on the methods used to capture, device, os, and reproduction steps? Also was this on CameraKit 0.13.x or 1.0.0-Snapshot?

[2018-04-30 16:38] soshial commented on #352
Yes, can we do that?

[2018-04-30 23:25] epekel commented on #348
@austinkettner
Here is how I toggle front and back camera:
[code]

[2018-05-02 01:28] emersoncloud commented on #250
@brianliyang I've updated the documentation to reflect the latest image and video capture methods. Let me know if you have any other comments or concerns. Thanks for bringing this to our attention!

[2018-05-02 01:28] #250 closed

[2018-05-02 15:43] prestashopy commented on #351
Hi @emersoncloud,
I downloaded  "master"  version
      android: versionCode = "1"
     Android: versionName = "0.13.2"

In the end I used next code, and the preview scale works fine, it only produces error (sometimes, when you turn on and off) in the orientation and size (not full screen):

[code]

[2018-05-03 18:00] jaksab opened #354 "Offer for some features"
### Is this a bug report?

No

### I want to offer some features which will helps during development

1. Modern smartphones make very high quality and great photos. Camera 1 has an array of acceptable survey resolutions and is able to set any of the acceptable output image sizes. Now this functionality is encapsulated and always at the maximum, it would be very cool to manage the quality and most

[2018-05-04 08:34] jatin-lakhani commented on #294
+1 Its still exist with version 0.13.1
Any workaround on this?

[2018-05-04 08:59] jatin-lakhani commented on #351
+1
I'm still facing this issue.
Any solution will help a lot

Thanks in advance!

[2018-05-04 15:27] emersoncloud commented on #354
@jaksab Thanks for the feature requests. I'll take this back to the team to review. I'll update you when we've added them to our milestones!

[2018-05-04 15:27] #354 closed

[2018-05-04 15:32] emersoncloud commented on #294
@jatin-lakhani There is not currently a workaround in version 0.13.1. The issue should be resolved in v1.0.0 which is currently in review, #318. Try out 1.0.0 and let me know if you are running into the same issues.

[2018-05-04 15:36] emersoncloud commented on #351
@prestashopy thanks for the information. We are moving to v1.0.0 very soon, its currently in review here: #318. 1.0.0 restructured and improved on a large portion of the 0.13.x codebase. Try out 1.0.0 and let me know if your issue persists.

[2018-05-07 04:17] jatin-lakhani commented on #294
Thank you for the reply! Version 1.0.0 is quite better but video integration seems not integrated yet. Is there any alternative I can use both feature camera capture + video recording?

[2018-05-08 06:00] inder243 commented on #266
i am also getting flash issue in STEEL mode
if it is fixed,please let me know the version and Class
i am using 0.13.1

[2018-05-08 16:49] epekel commented on #348
Kind of a late update but just wanted to let you know that [this commit](https://github.com/CameraKit/camerakit-android/commit/78a7a8403c71101f8f7c6b30e845d7f3836678bc) seems to fix the issue, at least for the device I am testing with. (I posted the comment above after this commit so it seems it was not a device specific issue after all)

[2018-05-13 15:59] emersoncloud commented on #294
@jatin-lakhani Not yet. We expect to have video support in 1.0.0 this week!

[2018-05-15 08:15] Qdafengzi commented on #353
I'm sorry to have been busy working on the project, so late to answer this question, my project is for the factory environment, the camera parameters of the device is already relatively low, but compared with the camera's own camera photo screen is still somewhat blurred, preview The picture has yet to be optimized. Now there is another problem is how to refresh the preview interface after I finis

[2018-05-15 08:27] Qdafengzi commented on #353
camerakit:0.13.1   Android 5.1.1   1920*1080   Qualcomm Technologies,Inc MSM8939

[2018-05-15 13:50] austinkettner commented on #353
v1.0.0 is slated to be fully released by the end of this month!

[2018-05-15 14:25] Qdafengzi commented on #353
I will deliver the product on the 18th. Is there a beat version?

[2018-05-15 14:26] austinkettner commented on #353
v1.0.0 is stable and we expect no changes to its API usage. We have heard nothing but positive feedback and improvements over previous generation 0.13.x and 0.12.x releases. Our suggestion, even in production, is v1.0.0. We have existing clients deploying with v1.0.0 already =)

[2018-05-15 14:36] Qdafengzi commented on #353
We have existing clients deploying with v1.0.0 already = ??

can  i use the v1.0.0 now ? Because I really need it now, I will actively submit bugs for you to test, thanks . can i ?

[2018-05-15 14:38] Qdafengzi commented on #353
Maybe I still don't use GitHub. I've seen the latest version branch. Thank you.

I am too yong to sample , Laugh.

[2018-05-16 06:10] ksc91u commented on #345
setMethod(CameraKit.Constants.METHOD_STANDARD) when flash light state is FLASH_ON

[2018-05-16 08:13] Qdafengzi commented on #353
in v1.0.0 , If I quickly click the camera button in the Demo, I haven’t finished taking pictures yet, I return to cause the program to crash. How do I release it?

`05-16 16:07:17.117 11977-12001/com.camerakit.app E/AndroidRuntime: FATAL EXCEPTION: CameraPreview@1526457794554
                                                                   Process: com.camerakit.app, PID: 11977

[2018-05-16 12:16] austinkettner commented on #353
@emersoncloud Will log this in the PR notes and we will get it fixed in the demo app. He also may have thoughts on a release method. Expect a response soon!

[2018-05-16 12:17] austinkettner commented on #345
Please take a look at our 1.0.0 PR! =) This along with the documented methods, are entirely ready to be used!

[2018-05-16 12:17] #345 closed

[2018-05-16 14:54] emersoncloud opened #357 "Ability to set video duration limit"
Add method to set the EXTRA_DURATION_LIMIT on video recordings.

Official Maintainer Ticket: @emersoncloud

[2018-05-16 14:56] emersoncloud commented on #352
Thanks for your input! I've created a new ticket #357 to track this feature and added it to our v1.1.0 video milestone. Comment there if you have more thoughts on what you would like to see added.

[2018-05-16 14:56] #352 closed

[2018-05-16 17:34] ivanicsjozsef94 opened #358 "NullpointerException"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

yes

### Environment
Android 7.0 Nokia

### Steps to Reproduce

(Write your steps here:)

1. Open camera.
2.  cameraView.captureImage(); is called.

(Write what happened. Add screenshots!)

### Reproducible Demo

takeImageButton.setOnClickListener(new View.OnClickListener() {
            @Ove

[2018-05-16 22:41] rezamusic881 opened #359 "Use the Front camera to take a picture, then Application fails to load image results."
#### Expected behavior
Be supposed, Take a picture with the front camera and use the "ckMethod feature in standard mode and cKcropOutput feature in false mode" works best.

#### Actual behavior
When I take a picture with the front camera and use the "ckMethod feature in standard mode and cKcropOutput feature in false mode". but the app does not load image data.

#### How to reproduce
You can get C

[2018-05-17 17:10] MrDizzle commented on #130
Any news on this one?

[2018-05-17 21:50] austinkettner commented on #130
This should be fully resolved in our 1.0.0 PR (#318) Check it out!

[2018-05-17 22:01] MrDizzle commented on #130
Awesome, really appreciate what you guys are doing, the Camera2 API is a horror show!

[2018-05-18 05:49] hablema commented on #250
This dosen't give me a result, can anyone tell me what i'm doing wrong. I just updated from com.flurgle.camerakit. The camerakiteventlistener also dosen't get called

[code]

I'm using `implementation 'com.wonderkiln:camerakit:0.13.1'`

[2018-05-18 06:01] dayburak commented on #61
I have the version 0.13 + still having the crash

[2018-05-18 14:42] emersoncloud commented on #159
Hey @Diederikjh I cloned and ran the camerakit-1.0.0 branch on my device, and Essential PH-1 and did not run into any exceptions. What device are you using and did you do a particular action to cause that exception? Thanks!

[2018-05-18 15:32] emersoncloud commented on #359
Hey @rezamusic881 thanks for the detailed issue. We are in the process of rolling out a significant overhaul to CameraKit, v1.0.0 on a PR here: #318, which will resolve this problem. 1.0.0 is currently stable and you can expect an official release by the end of the month!

[2018-05-18 15:32] #359 closed

[2018-05-18 15:49] #351 closed

[2018-05-21 00:13] Qdafengzi commented on #353
Regardless of the device, your Demo will be like this on any machine. Click and take a picture quickly, and then exit to appear. Release it. In addition, the zoom function has not been implemented yet?

[2018-05-21 13:45] shaktisinh commented on #100
Caused by: android.view.InflateException: Binary XML file line #14: Binary XML file line #14: Error inflating class com.wonderkiln.camerakit.CameraView

implementation 'com.wonderkiln:camerakit:0.13.1'

 maven { url "https://jitpack.io" }

also tried with

 maven { url "https://jitpack.io" }
 maven { url 'https://dl.bintray.com/flurgle/maven' }

[2018-05-21 13:50] shaktisinh opened #360 "Error inflating class com.wonderkiln.camerakit.CameraView"
I have added following dependency in gradle files

`implementation 'com.wonderkiln:camerakit:0.13.1'`

[code]

added this in xml file
[code]

getting below error
[code]

[2018-05-22 22:53] mattlogan opened #361 "Update "Capturing Video" docs on documentation website"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

The section in the docs for [capturing video](http://docs.camerakit.website/#/?id=capturing-video) appears to be out of date.

The `CameraView` class in version `0.13.2` doesn't appear to have any methods named `startRecording()`, `startRecordingVideo()`, `stopRecording()`, or `stopRecor

[2018-05-23 10:37] nandantal commented on #158
Same problem on 0.13.1

Fatal Exception: java.lang.RuntimeException: Fail to connect to camera service
       at android.hardware.Camera.<init>(Camera.java:495)
       at android.hardware.Camera.open(Camera.java:341)
       at com.wonderkiln.camerakit.Camera1.openCamera(Camera1.java:667)
       at com.wonderkiln.camerakit.Camera1.start(Camera1.java:124)
       at com.wonderkiln.camerakit.CameraVie

[2018-05-23 10:40] nandantal commented on #158
Same problem on Android 6.0.1 , LG device

Fatal Exception: java.lang.RuntimeException: Fail to connect to camera service
       at android.hardware.Camera.<init>(Camera.java:495)
       at android.hardware.Camera.open(Camera.java:341)
       at com.wonderkiln.camerakit.Camera1.openCamera(Camera1.java:667)
       at com.wonderkiln.camerakit.Camera1.start(Camera1.java:124)
       at com.wonderkiln.

[2018-05-24 02:09] Xenero commented on #158
@austinkettner how have you closed this when it is clearly not resolved? There has been no 1.0.0 release so this needs to be left open for all suffering from this issue to have a place to report.

[2018-05-24 10:36] emersoncloud commented on #100
@shaktisinh if you still want to use CameraKit version 0.13.1 that implementation line is correct. Check out this repository if you want to see a simple working example of CameraKit.

https://github.com/emersoncloud/camerakit-crash/blob/master/app/build.gradle

The `master` branch uses 0.13.1 and the `camerakit-1.0.0` branch uses CameraKit version 1.0.0.

The team has put a lot of effort into 1.0.

[2018-05-24 11:01] emersoncloud commented on #360
Hello @shaktisinh. Could you link me to your project code so I can get a better idea of what might be causing this issue? Thanks!

[2018-05-24 14:49] #360 closed

[2018-05-24 14:51] shaktisinh commented on #360
It was conflation with other dependency. after renaming "surface_view_container" its working fine

[2018-05-25 05:18] berviantoleo commented on #89
I still face this problem in version 0.13.1, I get this problem in LG Device

[2018-05-28 12:57] nandantal commented on #158
The previous problem seems like fixed with 1.0.0 , but I am getting the following error now :

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.graphics.SurfaceTexture.setDefaultBufferSize(int, int)' on a null object reference
       at com.camerakit.CameraKitView$Camera2$1$3.run(CameraKitView.java:1737)
       at android.os.Handler.handleCallback(Han

[2018-05-28 13:01] Xenero commented on #158
Please show us your full log so we can trace what happened before this
error.

On Mon, 28 May 2018 at 10:57 pm, Nandan Dutta <notifications@github.com>
wrote:

--
Regards
Brandon Stillitano
Project Manager
0401 007 904 <javascript:void(0);>

[2018-05-28 16:29] Barazu commented on #328
I've encountered the same problem (part 1), and granting external storage permission solved it.

[2018-05-29 18:53] tacttnysma opened #362 "Camera1 Api set smallest picture size"
### Is this a bug report?

Yes
In Camera1 api set always smallest size.
### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?
Yes

### Environment
Any device below api level 21

[I think change this line](https://github.com/CameraKit/camerakit-android/blob/v1.0.0/camerakit/src/main/java/com/camerakit/CameraKitView.java#L1352)

[2018-05-30 18:56] emersoncloud opened #363 "Ability to directly set image resolution"
Add a documented way to set the CameraKit Image resolution.

Official Maintainer Ticket: @emersoncloud

[2018-05-30 19:33] emersoncloud commented on #361
@mattlogan That was my fault. I mistakenly updated the docs to the v1.0.0 way of capturing images and video. I've reverted them to the 0.13.x methods.

You might want to give 1.0.0 a go. It is the latest version of CameraKit and we will have an official release out very soon! It is stable in its current form. We've done a lot to improve the performance and functionality of CameraKit.

[2018-05-30 19:33] #361 closed

[2018-05-30 19:49] emersoncloud commented on #353
@Qdafengzi Could you record your screen to show how you're causing the crash? I've tried to reproduce on several devices now. I don't know if we are taking the same steps to make the program crash. Thanks!

[2018-05-30 20:06] emersoncloud commented on #362
Hey @tacttnysma thanks for bringing this to our attention. I just created a ticket #363 to set the image resolution. I'll add your issue there and we'll be sure to get this fixed when implementing that feature!

[2018-05-30 20:06] #362 closed

[2018-05-30 20:09] emersoncloud commented on #363
Ability to set default picture size, from issue #362.

[2018-05-30 20:17] emersoncloud commented on #358
Hi @ivanicsjozsef94 thanks for your issue. It looks like you're using CameraKit version 0.13.x. Very shortly we will officially move to v1.0.0, a much cleaner and more robust version of CameraKit. If you could give #318 a try and let me know if your issue persist that would be great!

[2018-05-31 00:17] raigyoumei commented on #214
used version [implementation 'com.wonderkiln:camerakit:0.13.1']
------------------------------------------
Caused by java.io.IOException setPreviewTexture failed
android.hardware.Camera.setPreviewSurface (Camera.java)
android.hardware.Camera.setPreviewDisplay (Camera.java:827)
arrow_right
com.wonderkiln.camerakit.Camera1.setupPreview (Camera1.java:697)
com.wonderkiln.camerakit.Camera1.access$200 (

[2018-05-31 00:19] raigyoumei commented on #214
used version [implementation 'com.wonderkiln:camerakit:0.13.1']
-------------------------------------------------------------------------
Fatal Exception: java.lang.RuntimeException java.io.IOException: setPreviewTexture failed
com.wonderkiln.camerakit.Camera1.setupPreview (Camera1.java:699)
com.wonderkiln.camerakit.Camera1.access$200 (Camera1.java:37)
com.wonderkiln.camerakit.Camera1$1.onSurfaceC

[2018-05-31 00:20] raigyoumei commented on #214
plsease help me

[2018-05-31 05:11] Qdafengzi commented on #353
@emersoncloud I will send Gif to your Gmail .  When will your v1.00 official release be released? Is there a specific time?

[2018-06-01 08:57] mptrista commented on #323
It is still an issue in 1.0.0-SNAPSHOT.

[2018-06-04 09:34] 3niman commented on #360
Hi ,

Where you have renammed this file of lib and with what name, as i can see there is one id of same. Please ans asap.

[2018-06-05 16:11] Qdafengzi commented on #353
@austinkettner Yes  The previous version had a zoom function. After using the 1.0 version, there was no Api call. I very much look forward to adding this feature to you. I will touch

[2018-06-08 17:11] android-dataticket commented on #341
@emersoncloud I dont think its documentation thats making it difficult.. I have an old forked version that's probably getting close to being a year old, that's been slightly tweaked for my application and I wanted to quickly try 1.0.0 without having to fork again and implement a folder library, I just wanted to implement quickly but it appears 1.0.0 is not available with jitpack..

[2018-06-08 18:57] emersoncloud commented on #341
Hi @android-dataticket. We've made pretty drastic changes to the code base over the past year. You're right we are not yet on jitpack but you can check the PR notes #318 to see how to implement v1.0.0.

[2018-06-09 20:56] nvmnghia opened #364 "Image get compressed twice?"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

Xiaomi Mi 5 MIUI 9.5.3.0

### Steps to Reproduce

There is a byte[] that seems to be an out-of-camera JPEG in CameraView@captureImage (it has EXIF, and of the same size as an images captured by the default camera). That byte[] is then passed to a PostProcessor, which out

[2018-06-10 18:20] zakgof opened #365 "Native memory leak in METHOD_STILL mode"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
Seen on Android 4.2.2 and 6.0.1 phones
using com.wonderkiln:camerakit:0.13.2

### Steps to Reproduce

Taking pictures continuously in METHOD_STILL mode causes the native memory allocation to grow (ending up with OOM exceptions).

1. Setup `CameraView` in `METHOD_STILL` mo

[2018-06-12 05:20] ksc91u opened #366 "Capture Video with 1.0.0-beta1"
### Is this a bug report?

No.

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

com.camerakit:camerakit:1.0.0-beta1

The captureImage method works fine, but captureVideo implementation is empty. If I need to capture video, should I stay with 0.13 ?

Thanks

[2018-06-13 04:43] #366 closed

[2018-06-13 18:38] emersoncloud commented on #336
Add a documented way to set the filename of videos and images - #265

[2018-06-13 18:40] emersoncloud commented on #265
Hey @gh7800 sorry this issue slipped through the cracks. We have a ticket open for the v1.1.0 milestone to determine the save location. I just added a comment to make sure we add support to set the filename as well. See it here: #336.

[2018-06-13 18:42] emersoncloud commented on #265
@georgeRCluj Thanks for your interest in CameraKit, and I apologize for the outdated docs. We have been hard at work on release v1.0.0 #318. When the official release is out, we will update all the documentation to match. Expect that in the next couple weeks. Thanks!

[2018-06-14 06:18] Qdafengzi commented on #353
@austinkettner I'm sorry to interrupt you again, because the project I'm responsible for is handed over to the customer. In the middle of this month, the customer will accept the project. Because the zoom function of the integrated camera has not been implemented, it will cause our project to fail to be accepted successfully, so I have been asked you many times about the version of v1.0 with zoom

[2018-06-14 19:02] austinkettner commented on #353
We will aim to have this in by Monday for you.

[2018-06-15 09:45] ZhangTengCR7 opened #367 "captureVideo camera.setPinchToZoom(true); RuntimeException"
java.lang.RuntimeException: setParameters failed
                                                                            at android.hardware.Camera.native_setParameters(Native Method)
                                                                            at android.hardware.Camera.setParameters(Camera.java:2011)
                                                                            a

[2018-06-15 16:19] Gelassen commented on #334
Follow-up the conversation in the email. Experience stretched video in landscape mode - set up by default as well as after orientation change.

Here is the sample to reproduce
https://drive.google.com/open?id=1w42GlIiWCOqA31U8pDfbWK98uniH_zCA

Here is a initial description
"Though I also noticed issue with stretching frame in landscape, there is a couple of threads in project issue tracker, one of

[2018-06-17 18:03] daniele93dc commented on #322
There are any news with new version for this?

[2018-06-18 07:21] eric-vader commented on #102
Yea I am experiencing this problem:
`    java.lang.RuntimeException: Fail to connect to camera service
        at android.hardware.Camera.<init>(Camera.java:520)
        at android.hardware.Camera.open(Camera.java:361)
        at com.wonderkiln.camerakit.Camera1.openCamera(Camera1.java:667)
        at com.wonderkiln.camerakit.Camera1.start(Camera1.java:124)
        at com.wonderkiln.camerakit.Came

[2018-06-18 17:47] emersoncloud commented on #102
Hey @eric-vader thanks for using CameraKit! All of our attentions is currently on releasing our v1.0.0 which has a lot of stability improvements and enhancements. I recommend you check that out here #318, and just using the new version will likely fix your issue. Check the PR notes for our documentation on how to get started. Thanks!

[2018-06-19 00:17] leandro1995 opened #368 "update documentation"
the documentation of the version that does not agree with the debit code that the setCameraListener is no longer available because they incorporated it will have captureImage

[2018-06-19 02:40] platinum7919 opened #369 "setParameters failed"
Got the follow exception when starting the camera on Galaxy s6
`
06-19 10:37:15.328 2936-2936/com.charaku.popsical.tv D/RecorderActivity: onEvent:  CameraKitError
06-19 10:37:15.328 2936-2936/com.charaku.popsical.tv E/RecorderActivity: setParameters failed
    java.lang.RuntimeException: setParameters failed
        at android.hardware.Camera.native_setParameters(Native Method)
        at android.

[2018-06-19 14:33] MrDizzle opened #370 "CameraKitView.VideoCallback never fires after CameraKitView.stopVideo is called"
When using this setup up:

[code]

Calling

   `cameraKitView.stopVideo();`

Does not fire videoCallback listener

[2018-06-25 02:59] platinum7919 commented on #369
I was playing around with the source and noticed that the crash stops after I disable the invertPreviewSizes inside Camer1.getPreviewResolution

[code]

The problem is that the preview will then be stretched in portrait mode (front camera). Perhaps this means that the size from getSupportedPreviewSizes cannot just be inverted manually like that, maybe the surfaceview needs to do some cropping manu

[2018-06-25 08:08] zomll opened #371 "Didn't find class "android.support.media.ExifInterface""
Didn't find class "android.support.media.ExifInterface"

[2018-06-26 08:45] MrDizzle commented on #370
WRITE_EXTERNAL_STORAGE is already enabled

[2018-06-28 12:47] MrDizzle commented on #328
I have granted WRITE_EXTERNAL_STORAGE and I'm still having this issue

[2018-06-28 12:50] MrDizzle commented on #370
This is for version 1.0.0

[2018-07-02 14:15] emersoncloud commented on #371
Hey @zomll please fill out an issue following our issue template so we can better diagnose what problem you're running into. Thanks!

[2018-07-02 14:18] emersoncloud commented on #369
@platinum7919 Thanks for the issue and for looking into this. We have been working hard on CameraKit version 1.0.0 which has many stability and use-ability improvements over 0.13.x. It is currently in a stable Beta, take a look at the notes here #318.

Could you test your implementation on 1.0.0 and let me know if the problem persists? Thank you!

[2018-07-02 14:22] emersoncloud commented on #368
Hey @leandro1995 thanks for letting us know. We are working on a totally updated set of docs for the 1.0.0 release. You can expect those shortly! In the meantime check out the PR #318 for basic implementation details.

[2018-07-02 14:22] #368 closed

[2018-07-02 14:23] emersoncloud commented on #367
Hey @ZhangTengCR7 which version of CameraKit are you using? It would be helpful for the team and I if you could comment following our issue template so we can better diagnose your issue. Thanks!

[2018-07-02 14:37] emersoncloud commented on #365
@zakgof Thanks for the detailed report. We are going to move shortly to the official release of 1.0.0 which encompasses stability improvements and will fix issues like you're seeing here. There is currently a stable beta of 1.0.0 in PR #318. After the official release our attention will be on support and development of 1.0.0.

I would encourage you to implement your application on 1.0.0 and see if

[2018-07-02 14:39] emersoncloud commented on #364
@nvmnghia thanks for the issue and I apologize for the late response. Which version of CameraKit are you using? The drive link doesn't seem to be working if you could post a new one that would be helpful. Thanks!

[2018-07-02 23:16] lights-a5 commented on #250
Am I looking at an old website? This issue says that the documentation was updated, but this still says to use CameraListener. http://docs.camerakit.website/#/?id=camerakit-for-android

[2018-07-03 18:07] nvmnghia commented on #364
That was 0.13.1, the latest version in the README.md. I agree this could be the only solution as not all phone can change JPEG compression settings, but I think you should at least check the default settings (Mine is fixed at 85).

I can't test the 1.0.0, as I can only capture preview frames, not real, full resolution picture! Is it a known bug, or you just haven't implemented it yet?

Thanks for

[2018-07-03 18:10] nvmnghia commented on #364
Link was updated. My bad, it was `[gdrive bla bla](url)` =)))

[2018-07-04 02:31] silentcmz opened #372 "How to rotate the camera?"
### Is this a bug report?

NO

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

(Write your answer here.)

### Environment

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

(Write what happened. Add screenshots!)

### Reproducible Demo

(Paste the link to an example project and

[2018-07-04 07:09] vuhung3990 commented on #371
hi @zomll, did you `exclude group: 'com.android.support'` in file build.gradle, if yes you need to add
`implementation 'com.android.support:exifinterface:27.1.1'`

[2018-07-04 09:05] avaneesh-reglobe commented on #240
This is fixed or not?

[2018-07-04 09:07] avaneeshkumarmaurya commented on #240
This is fixed or not?
I am getting issue of null image in callback

[2018-07-04 15:33] bazan commented on #363
Hi, did you already add the way to set CameraKit Image Resolution?
I haven't found how to set the image resolution.

Thanks!

[2018-07-05 19:13] koala99 commented on #369
I used 0.13.x, some mobile record video error , I find the error messsages 'setParameters failed'.
so i can't record .

[2018-07-07 05:07] tank777 opened #373 "Fail to connect to camera service"
Fatal Exception: java.lang.RuntimeException
Fail to connect to camera service

android.hardware.Camera.<init> (Camera.java:654)
android.hardware.Camera.open (Camera.java:495)
arrow_right
com.wonderkiln.camerakit.Camera1.openCamera (Camera1.java:667)
com.wonderkiln.camerakit.Camera1.start (Camera1.java:124)
com.wonderkiln.camerakit.CameraView$2.run (CameraView.java:266)
android.os.Handler.handleCal

[2018-07-13 12:19] platinum7919 commented on #43
anyone managed to find a solution for this?

[2018-07-13 12:29] emersoncloud commented on #43
Hi @platinum7919 what issue are you experiencing?

[2018-07-13 12:42] kingstone59 commented on #43
The only way to record video is to use `MediaEncoder` like [https://github.com/saki4510t/AudioVideoRecordingSample](this)

[2018-07-13 12:47] Timone commented on #43
Thanks @kingstone59 , your link is busted though, should be `[text](url)`

[2018-07-18 15:35] emersoncloud commented on #363
@bazan No we have not yet added a way to set image resolution but I'll update this ticket when we have! =)

[2018-07-18 15:37] emersoncloud opened #374 "Updated Documentation for v1.0.0"
Create a new set of documentation for the upcoming 1.0.0 release.

Official Maintainer Ticket: @emersoncloud

[2018-07-18 15:37] emersoncloud commented on #250
@lights-a5 Yes, the website that you linked is outdated. To avoid any more confusion I am saving documentation changes for one entirely new set in the coming weeks. For now, check the PR notes for basic usage details #318.

I've created a new issue for documentation changes and you can watch for updates there! #374

[2018-07-18 15:46] emersoncloud commented on #372
Hi @silentcmz, currently the CameraKit follows the rotation of the device. Are you looking for a way to set if the camera is capturing portrait or landscape images?

[2018-07-18 15:52] emersoncloud commented on #367
Thanks for getting back to me @ZhangTengCR7, can you try to reproduce this issue on v1.0.0 beta? The beta is currently stable and will be the focus of CameraKit moving forward. This issue should already be fixed there!

Check out the PR notes for implementation details to get started. #318. I'll reopen this issue if your problem persists. Thanks!

[2018-07-18 15:52] #367 closed

[2018-07-18 15:53] emersoncloud commented on #371
Hey @vuhung3990 thanks for clearing this up. @zomll I'll close this issue as it seems its not directly related to CameraKit. Let us know if you have any more problems, thanks!

[2018-07-18 15:53] #371 closed

[2018-07-18 15:54] emersoncloud commented on #240
Hi @avaneeshkumarmaurya we've actually moved most of our development efforts to version 1.0.0. This issue is resolved there. Check the PR #318 to get started with the latest beta. We'll have an official release shortly!

[2018-07-18 15:59] emersoncloud commented on #373
@tank777 Thanks for the issue. Could you try connecting to the Camera Service with CameraKit version 1.0.0? This will fix the issue you're seeing here. Check out the PR notes #318 for basic implementation details =)

[2018-07-18 15:59] #373 closed

[2018-07-18 16:03] emersoncloud commented on #43
Hi @kingstone59 We currently do not have video support in 1.0.0 but we are adding that next so expect it soon! I'll report back here when it is implemented.

[2018-07-19 15:16] fi8er1 commented on #363
Hey, how do I set image resolutions? both for preview and captured image. Need a squared image.

[2018-07-20 01:45] akidee opened #375 "Question: Does camerakit solve the following important problems?"
Does camerakit ...

* use camera1 instead of camera2 if device has hardware level legacy? This will be faster, and camera2 ignores camera1 string parameters.
* include a device database? This is needed to fix bugs made by manufacturers.
* fix things from the ground up, i. e. fixing the native APIs itself?

[2018-07-20 16:03] trikko opened #376 "Won't work with android things"
cameraview is always black.

USB camera is working (it shows live preview) on android things settings.

[2018-07-21 12:38] eviansplash commented on #176
BUMP......? should we switch camera package from camerakit...?

[2018-07-21 14:18] austinkettner commented on #176
@eviansplash @kunaldawn @edwardotis Here is the 1.0.0 PR: https://github.com/CameraKit/camerakit-android/pull/318 give it a try and let us know a bit more about your use case? We are adding in additional calls ahead of merging and can specifically address this.

[2018-07-21 17:47] Daksh14 commented on #374
We are kinda clashing with this http://docs.camerakit.website/#/ and this [#318](https://github.com/CameraKit/camerakit-android/pull/318)

[2018-07-21 17:48] austinkettner commented on #374
@Daksh14 Right now the only documentation valid is the content in the PR Notes. We are working to update the docs site to be fully reflective of 1.0.0 by Release

[2018-07-21 18:02] Daksh14 commented on #374
@austinkettner can i email you some errors where you can help?

[2018-07-21 18:03] austinkettner commented on #374
@Daksh14 Yes, you can use austin at wonderkiln.com

[2018-07-23 06:48] hiviiup opened #377 "How to zoom the view with 1.0.0-beta1"
Hi,I have two question to ask:
1. how to zoom the view ?
I used  cameraView.setZoomFactor(Float),It is invalid.

2. I want to use it to implement face detection. But ,I cant find the method or listener  to get the camera data flow?

[2018-07-23 09:39] alsong commented on #360
I have got the same issue, I just forked the camera kit demo project and placed it on Android Studio and built it.

But I am not sure where am wrong

[2018-07-23 13:05] steeve opened #378 "Update libjpeg-turbo"
### Is this a bug report?

Not really.

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

Android 21

### Description

Currently CameraKit ships with `libjpeg-turbo=1.4.1` which has a critical vulnerability [1]. Since the `.a` are committed directly on this repo, perhaps the best course of action would be to update it officially to at least version `1

[2018-07-23 18:15] austinkettner commented on #372
What version of CameraKit are you using? @King-Henry

[2018-07-23 18:51] austinkettner commented on #372
Please load `1.0.0-Beta1` and let me know if you experience this issue.

[2018-07-23 19:01] austinkettner commented on #378
Roger that, will ensure 1.0.0 doesn't ship with 1.4.x

[2018-07-23 20:16] King-Henry commented on #372
Yeah, it also happens on  `1.0.0-Beta1`.  The four devices I've been testing on are Pixel XL (8.1), Galaxy Tab E 8"(7.1.1), Galaxy Tab Pro (5.1), and a Galaxy S III(4.4.3).

[2018-07-24 06:18] dhavalappspool commented on #348
+1 same issue

[2018-07-24 06:54] Trusted97 opened #379 "CameraView not close on .close();"
### Is this a bug report?
Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?
No, I will not be there

### Environment
Camera Kit version : 0.13.1
Android 7.0 Api 24 (Samsung Galaxy S7 (SM-G930F)

### Steps to Reproduce

1. Create an Activity with a CameraView and another activity without it
2. On second activity pass a int value in intent in first activiy get value with

[2018-07-24 18:04] AndrewGable commented on #348
Seeing the same on `1.0.0-Beta1`
- Android OS Version: `7.1.2`
- Android Device: `LGE LM-X212(G)`

<img width='350' src='https://user-images.githubusercontent.com/2838819/43157252-576edd5c-8f31-11e8-8541-1df56da88bb7.png'  />

[2018-07-25 02:39] hiviiup opened #380 "It has a bug when I startActivity before cameraKitView.onResume();"
### version:1.0.0-beta1

### Exception:

### It is not always happened ,you should start activity more times before cameraKitView.onResume

### Example
[code]

### How I found the bug?
I  start a crop picture Activity by the method 'startActivityForResult()' , then,I receive the picture in method(onActivityResult),and start a new activity show this picture, It will throw the exception sometimes

[2018-07-25 09:30] MMohamadPoor commented on #370
I have the same problem, how to get captured video in version 1.0.0 ? The video callback listener never fire...

[2018-07-25 13:04] austinkettner commented on #370
@MMohamadPoor Currently 1.0.0 Beta1 and Beta2 do not have Video support. We expect to have this in shortly, but has been a big challenge to get right.

[2018-07-25 13:51] Kiruel commented on #296
+1

[2018-07-25 13:53] Kiruel commented on #296
I have the same problem, I put a button inside the CameraView and I can't click on it. With the preview version com.flurgle:camerakit:0.9.17 i don't have this problem.

[2018-07-25 15:34] King-Henry commented on #372
@austinkettner any update on the issue I was experiencing?? Also, was Post-Capture photo rotation removed in 1.0.0?

[2018-07-25 15:48] Kiruel commented on #372
I have the same issue on 0.13.1 so I update for 1.0.0-Beta1 but its fail on the compilation. Do you have some link to install the 1.0.0 correctly?

[2018-07-25 16:03] King-Henry commented on #372
@Kiruel Did you happen to follow these instructions? https://github.com/CameraKit/camerakit-android/pull/318#issuecomment-404438613

[2018-07-25 16:15] Kiruel commented on #372
Yes, and I have a issue on app:ck... all attributes is not found anymore.
And if i delete all attributes and try to compile i have this error of compilation:
[code]

[2018-07-25 16:22] Kiruel commented on #372
@King-Henry Yeah and I saw my mistake. All the method are change on the 1.0.0 :s. I will update all the think and come back if I have a issue ;) thx.

[2018-07-25 19:47] #341 closed

[2018-07-25 22:04] austinkettner opened #381 "Heavy tinting of Photo during Capture"
"When I try and take a photo in expensify using the built in camera, the photo is heavily tinted and the receipt is not legible. This problem is not replicated when using the phones native camera application, and only occurs in apps using CameraKit"

Android Device: `BLN-L24`
Android OS version: `7.0`

[2018-07-26 00:32] austinkettner commented on #376
Duplicate of #348 so closing in favor of that!

[2018-07-26 00:32] #376 closed

[2018-07-26 00:35] austinkettner commented on #379
Hey @Trusted97 give this a test on 1.0.0 via #318, let me know if this issue still exists!

[2018-07-26 00:35] #379 closed

[2018-07-27 04:19] WhiteRaBot17 commented on #348
Unable to reproduce bug on Galaxy S5.

However after reviewing the comments and going over commit history this PR is a potential candidate for the NPE:

https://github.com/CameraKit/camerakit-android/pull/280/files

There may be a condition not being caught when setting the previewSize. Will investigate further..

[2018-07-27 16:38] King-Henry opened #382 "Camera Preview doesn't fit in Dialog"
Right now our team is undergoing an effort to support tablet views in our app, which involves using a camera inside a dialog. As part of this effort we're working at trying out different CameraKit versions to see what works best (0.13.2, Beta1, Beta2). We're having different issues in each.

In Beta1 the camera preview fits in the dialog just fine on my API 21+ device, but doesn't rotate. On Beta2

[2018-07-27 23:15] AndrewGable opened #383 "Camera not focussing, pictures are blurry"
### Is this a bug report?

Yes!

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes!

### Environment
- Android Version: 6.0.1
- Device: Samsung note 4

----

- Android Version: 6.0.1
- Device: Samsung SM-G900V

----

- Android Version: 6.0
- Device: SM-G900V

----

- Android Version: 6.0.1
- Device: SM-T813

### Steps to Reproduce

Attempt to take a photo, the photo ap

[2018-07-28 00:01] austinkettner commented on #383
Received and investigating @AndrewGable

[2018-07-28 00:04] austinkettner commented on #382
Hey @King-Henry can you email me at Austin [at] camerakit.email?

[2018-07-28 13:07] emersoncloud commented on #375
Hi @akidee thanks for your questions. We will be sure to take these into consideration for future builds. Currently we do not have a device database or fix the native APIs themselves, but we do switch between camera1 and camera2 depending on API level. =)

[2018-07-28 13:07] #375 closed

[2018-07-28 13:09] emersoncloud commented on #360
Hey @alsong take a look at the PR notes #318 and try implementing CameraKit v1.0.0.

[2018-07-28 13:28] emersoncloud opened #384 "Camera Preview Rotation Bugs"
When the devices is rotated to landscape
- [ ] The preview is distorted
- [ ] Panning is reversed. Moving the phone left or right moves the view on screen up or down

Android Device: `Pixel XL`
Android OS Version: `8.1`

Official Maintainer Ticket @emersoncloud

[2018-07-28 13:30] emersoncloud commented on #372
Hi @King-Henry I've created a new ticket for the rotation issues you mentioned in this thread #384. Check there for progress and feel free to add comments if you find anything else related to the preview when rotated!

[2018-07-28 13:30] #372 closed

[2018-07-29 18:08] frontiertsymbal commented on #365
Have you date of release 1.0.0 version? I have the same issue.

[2018-07-29 19:44] austinkettner commented on #365
@frontiertsymbal you can use it right now via #318, we will have an update soon on the official release date.

[2018-07-30 03:59] ZhangTengCR7 commented on #370
@MMohamadPoor Currently 1.0.0 Beta1 and Beta2 do not have Video support. We expect to have this in shortly, but has been a big challenge to get right.  emmmm.......

[2018-07-30 09:39] Trusted97 commented on #379
Hi @austinkettner where can i found Constants in 1.0.0 version?

[2018-07-30 11:41] DLIMedia opened #385 "Video is rotated, preview is distorted, when recording in a landscape-locked app"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

Tested on Samsung Galaxy S7 Edge as well as emulation.

App that CameraKit is being used in is exclusively in LANDSCAPE, and locked in to that state through the AndroidManifest.xml file.

Using CameraKit external library, v0.13.2. No modifications have been made to the l

[2018-07-30 12:30] austinkettner opened #386 "Add CameraKit functions"
.getBitmap();
CameraKitView.stop();
CameraKitView.start();

Official Maintainer Ticket.

[2018-07-30 12:31] austinkettner commented on #379
Can you elaborate on what you mean @Trusted97 ?

[2018-07-30 13:31] DanielNovak commented on #384
We are experiencing the same issue.

[2018-07-30 13:44] emersoncloud commented on #385
Hi @DLIMedia thanks for the detailed issue. We are currently gearing up for the 1.0.0 release which will include video support to fix the issues you've mentioned above. I'll dig into your issue here in the mean time to see if it's an easy fix. However the best thing to do is to wait for that new 1.0.0 release! =)

[2018-07-30 13:46] austinkettner commented on #385
Also @DLIMedia can you shoot me an email to Austin [at] camerakit.email? Just reference this ticket, and I will send over some questions, we want to work more closely with companies using CameraKit so we can tailor critical updates as needed.

[2018-07-30 13:50] DanielNovak commented on #384
Actually switching to front camera and back will fix the distortion.

[2018-07-30 15:42] emersoncloud commented on #386
From @polppol on the PR:

replace `stop()` with  `onPause() ` work fine
but when I call `onResume()` it just crashed

EDIT: Only crashed if captureImage() is called right after onResume()

[2018-07-30 15:56] DLIMedia commented on #385
My concern is that I'm on a reasonably strict timeline and, of all the camera libraries I've used, this is the best one I've seen by far for what I want to do.

And I've looked in to 1.0.0... that's somewhat of a big jump from 0.13.2 and I couldn't get it working right out of the box, so I'm hesitant. So, if possible, I'd appreciate a 0.13.2 fix... or at least the necessary guidance so that I can

[2018-07-30 20:55] #32 closed

[2018-07-30 20:57] emersoncloud commented on #41
This issue has been resolved in v1.0.0. Closing this issue. If there still are focus issues in 1.0.0 I will make new ticket to keep track!

[2018-07-30 20:57] #41 closed

[2018-07-30 20:58] emersoncloud commented on #42
Pinch to zoom and capture image have been resolved in 1.0.0. Closing this issue.

[2018-07-30 20:58] #42 closed

[2018-07-30 21:27] emersoncloud commented on #85
@doyee we currently have camera2 support on the latest release 1.0.0 beta1! Check out implementation details at #318

[2018-07-30 21:27] #85 closed

[2018-07-30 21:39] emersoncloud commented on #210
This issue has been resolved in the 1.0.0 beta1 release. Let me know if you have any other issues and I can bump to a new 1.0.0 focused issue.

[2018-07-30 21:39] #210 closed

[2018-07-30 21:41] emersoncloud commented on #229
This issue will be covered with the video implementation in v1.0.0. Expecting a beta release including videos support shortly. Closing this issue, if there are still storage concerns I will create a new ticket for the 1.0.0 release!

[2018-07-30 21:41] #229 closed

[2018-07-30 21:45] emersoncloud commented on #231
This issue has been resolved by v1.0.0. If you are still having issues with capture speed in 1.0.0 I will create a new ticket to track it!

[2018-07-30 21:45] #231 closed

[2018-07-30 21:46] emersoncloud commented on #238
This issue will be covered in the upcoming 1.0.0 video release. Closing this issue. If you are having more issues with audio bitrate I will make a new 1.0.0 issue to track it!

[2018-07-30 21:46] #238 closed

[2018-07-30 21:47] emersoncloud commented on #244
This issue has been resolved in 1.0.0 of CameraKit. If you have any further issues releasing the camera, let us know!

[2018-07-30 21:47] #244 closed

[2018-07-30 21:47] AndrewGable commented on #383
More devices if it's helpful:

- Android Version: `6.0.1`
- Android Model: `samsung SM-G860P`

-----

- Android Device: `SM-N910V`
- Android OS version : `6.0.1`

[2018-07-30 21:48] emersoncloud commented on #247
This is a good feature to consider for future video builds of CameraKit. I will close this ticket and add it to our feature backlog.

[2018-07-30 21:48] #247 closed

[2018-07-30 21:50] emersoncloud commented on #254
This issue has been resolved in 1.0.0 of CameraKit. Closing this issue. If you have further listener issues I will create a new ticket for tracking!

[2018-07-30 21:50] #254 closed

[2018-07-30 21:51] emersoncloud commented on #258
This issue has been resolved in 1.0.0 of CameraKit. Let me know if you experience any similar crashes in our latest release!

[2018-07-30 21:51] #258 closed

[2018-07-30 21:59] emersoncloud commented on #260
This issue has since been resolved in the latest release of CameraKit 1.0.0 beta1. If you have any more delay issues let us know and we can dig into it further.

[2018-07-30 21:59] #260 closed

[2018-07-30 22:04] emersoncloud opened #387 "Ability to set video aspect ratio"
Set aspect ratio of video in preview and resulting file.

Official maintainer ticket: @emersoncloud

[2018-07-30 22:04] emersoncloud commented on #263
Video support is coming with release 1.0.0 very shortly. We will continue to add video features in later releases. I've created a new ticket to track this feature here: #387.

[2018-07-30 22:04] #263 closed

[2018-07-30 22:05] #265 closed

[2018-07-30 22:07] emersoncloud commented on #266
This issue will be resolved with the 1.0.0 release including video support. Closing this issue. If you still have flash issues with the latest release create a new ticket and we will investigate =)

[2018-07-30 22:07] #266 closed

[2018-07-30 22:09] emersoncloud commented on #269
Hi @sagartrehan thanks for the detailed issue. This has been resolved in the latest version of CameraKit 1.0.0. Let me know if you are still having issues and I will reopen your issue. Thanks!

[2018-07-30 22:09] #269 closed

[2018-07-30 22:10] emersoncloud commented on #270
Thanks again for the issue. This has been resolved in the latest release v1.0.0. Let me know if you are still having issues and I will reopen your ticket!

[2018-07-30 22:10] #270 closed

[2018-07-30 22:11] emersoncloud commented on #272
@xymelon thanks for clearing this up. Closing this issue.

[2018-07-30 22:11] #272 closed

[2018-07-30 22:15] emersoncloud commented on #275
Hi @tsoumalis thanks for the issue and suggestion. Currently we are adding video support to the 1.0.0 release. You can check for progress here #318. We will be adding more video features to 1.1.0 and I have created an issue to set preview sizes in video here: #387. Comment there if you have any more feedback!

[2018-07-30 22:15] #275 closed

[2018-07-30 22:16] emersoncloud commented on #276
@xymelon Thanks for the suggestion. We are focusing CameraKit on core camera functionality. We plan to add methods for extensions in future releases.

[2018-07-30 22:16] #276 closed

[2018-07-30 22:27] emersoncloud commented on #287
Hi @chanmyaethu-mn can you test this on the latest release 1.0.0? You can see implementation notes here #318. I'll reopen this issue if you are still having trouble!

[2018-07-30 22:27] #287 closed

[2018-07-30 22:28] emersoncloud commented on #285
Hi @developer-- this issue has been fixed in 1.0.0. Give it a try here #318.

[2018-07-30 22:28] #285 closed

[2018-07-30 22:29] emersoncloud commented on #283
We are adding more robust video support very soon to 1.0.0. Keep an eye on #318 for more information!

[2018-07-30 22:29] #283 closed

[2018-07-30 22:31] emersoncloud commented on #296
Closing this ticket. If you are still running into issues report back here and we will dig into it!

[2018-07-30 22:31] #296 closed

[2018-07-30 22:33] emersoncloud commented on #298
Currently there is not a way to directly access the SurfaceHolder from CameraKit. We will add this to our feature backlog and if there is enough support we will roll it out in a future release. Feel free to dig into the code and add your own method to access the SurfaceHolder and we'd love to take a look!

[2018-07-30 22:33] #298 closed

[2018-07-30 22:33] emersoncloud commented on #299
@tzzen93 Can you try on the latest release 1.0.0? Let me know if you are still experiencing any issues.

[2018-07-30 22:33] #299 closed

[2018-07-30 22:36] emersoncloud commented on #305
Thanks for the issue. We will be re-adding video functionality in an upcoming release of 1.0.0. If you still experience the flipped video issue let us know and we will take a look. Thanks!

[2018-07-30 22:36] #305 closed

[2018-07-31 01:47] polppol opened #388 "setFlash(CameraKit.FLASH_TORCH) won't work in 1.0.0 beta1"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
Pixel 2 XL
Honeywell CT-50
### Steps to Reproduce

(Write your steps here:)

[code]

OR

[code]

### Expected Behavior

Flash should be on

### Actual Behavior

Nothing happen but `camView.getFlash()` still return correct state of flash

ps. Flash work correctly in 0.13.1

[2018-07-31 02:54] emersoncloud commented on #302
This issue has been resolved in the latest release of CameraKit v1.0.0 beta1. See the PR notes here #318 and give it a try. Report back if you are having any more issues!

[2018-07-31 02:54] #302 closed

[2018-07-31 02:59] #308 closed

[2018-07-31 03:06] emersoncloud commented on #313
We are in the process of revamping video recording for the 1.0.0 release. You can expect that in the coming days. I'll make sure this is covered in that release. If not feel free to leave a comment and I'll reopen the issue!

[2018-07-31 03:06] #313 closed

[2018-07-31 03:09] emersoncloud commented on #319
This issue has been resolved in the latest release of 1.0.0-beta1. If you are still experiences any problems drop us a comment and we can dig into it!

[2018-07-31 03:09] #319 closed

[2018-07-31 03:12] emersoncloud commented on #322
@daniele93dc thanks for following up with this. It is not currently possible to create an instance from a service like the use case you mentioned. We will review this internally and add it to our milestones for future releases if we get enough interest!

Our current focus has been delivering core camera functionality for 1.0.0!

[2018-07-31 03:12] #322 closed

[2018-07-31 03:13] emersoncloud commented on #325
Can you test on our latest version 1.0.0-beta1 #318 and report back if you are still experiencing issues? I'll reopen this ticket if they still exist. Thanks! =)

[2018-07-31 03:13] #325 closed

[2018-07-31 03:24] emersoncloud commented on #331
Hey @Zarkopafilis can you test on the latest version 1.0.0-beta1? This issue should be resolved there. If not report back and I can reopen this ticket. =)

[2018-07-31 03:24] #331 closed

[2018-07-31 03:25] emersoncloud commented on #333
Closing this issue. Let me know if you are still experiencing issues and I can reopen!

[2018-07-31 03:25] #333 closed

[2018-08-01 00:37] austinkettner commented on #388
Thanks @polppol we will look into this!

[2018-08-01 00:39] austinkettner commented on #385
@DLIMedia Shot you an email, check it out, ideally we can get you into Slack and troubleshoot the implementation of 1.0.0 as that should resolve most of your issues. We had a client update from 0.13.x with minimal code changes.

[2018-08-01 17:29] AndrewGable commented on #348
- Android version: `7.0`
- Phone model: `LG-Aristo`

------

- Model: `LGE LM-X210(G)`
- Version: `7.1.2`

------

- platformVersion - `7.1.2`
- deviceModel - `KYOCERA E6810`

-------

- Model: `LGE LG-TP260`
- Version: `7.0`

------

- Model: `LGE VS501`
- Version: `7.0`

[2018-08-01 17:34] AndrewGable commented on #383
- Android Device — `SM-N910V`
- Android OS version — `6.0.1`

-----

- platformVersion- `6.0.1`
- deviceModel- `samsung SM-G860P`

------

- Device: `SAMSUNG-SM-N915A`
- Android OS: `6.0.1`

------

- Model: `samsung SM-N910V`
- Version: `6.0.1`

---------

- Platform Version: `6.0.1`
- Model: `samsung SAMSUNG-SM-G`

--------

- platformVersion: `6.0.1`
- deviceModel: `samsung SM-G900V`

[2018-08-01 17:35] AndrewGable commented on #383
Oops, @austinkettner - I messed up the assignees and I don't think I can assign back @WhiteRaBot17, sorry!

[2018-08-01 18:11] austinkettner commented on #383
All corrected =)

[2018-08-01 18:54] emersoncloud opened #389 "Taking picture immediately after onResume crash"
As reported by Ben in Slack:

Tested on device.  results:
* If I call onResume captureImage immediately, 100% crash rate.
* If I call onResume delay 3 seconds captureImage - crashes on my file write permission denied.  (But is able to capture the image)
* if I uninstall the app completely, then the "ok to allow camera permissions" popup takes more than the 3 second delay, resulting in a crash.
* s

[2018-08-01 20:51] salamanders opened #390 "FR: Handle WRITE_EXTERNAL_STORAGE permissions"
In recent versions of Android, even though the manifest may have indicated the WRITE_EXTERNAL_STORAGE permission, the user still needs to be asked for it at runtime.  This tripped me up, because CameraKit was so good about handling the camera permissions, when I wanted to *save* the image that I just took, I couldn't understand why I wasn't allowed to write the image to the public shared media fol

[2018-08-01 23:13] salamanders opened #391 "Default ckView.captureImage seems to take less than full-res photo"
### Is this a bug report?
Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?
No.

### Environment
Pixel 2, Android P latest public beta

### Steps to Reproduce
Try to do the minimal "launch app, snap picture, write to file" hello world using the help that the slack folks provided (thank you!)

Exact code https://gist.github.com/salamanders/0e20fe1122000220c76b118d16c83f

[2018-08-01 23:14] salamanders commented on #391
Ok, now I have read the guidelines.

[2018-08-03 07:53] hiviiup commented on #331
Hey @emersoncloud ,I used 1.0.0-beta1.it's also black preview.
![b56670b027fdc8f1eb93614ce8466987](https://user-images.githubusercontent.com/10386383/43631241-3c06ac3c-9735-11e8-90d1-11dbbb16a0c7.jpg)
![img_4095](https://user-images.githubusercontent.com/10386383/43631290-5e76a33a-9735-11e8-9283-f1f2d4503089.JPG)

[2018-08-03 08:54] hiviiup commented on #389
I think  you can call the method on PreviewListener

cameraKitView.setPreviewListener(new CameraKitView.PreviewListener() {
            @Override
            public void onStart() {
                    //can take photo
            }

            @Override
            public void onStop() {

            }
        });

[2018-08-03 09:29] tommienu opened #392 "An error occurred while connecting to camera 0: Status(-8): '7: connectHelper:1338: Higher-priority client using camera, ID "0" currently unavailable'"
Ran into the following issue while developing an app and using my Pixel2XL and device.

A reboot solved the issue and i'm certain that i caused this while building back and forth, but it would be nice to be able to catch this error and silently suppress it if it ever did happen to a user. A try/catch did not work for me.

Thank  you.

[code]

[2018-08-03 09:35] antoineos opened #393 "Captured image has always the same ratio"
### Is this a bug report?
Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?
Yes

### Environment
S8 : Oreo
Xperia L2 : Oreo
S5 mini : KitKat

### Steps to Reproduce

1. Use cameraKitView with camera_aspectRatio or custom height
2. Call captureImage
3. Display the photo in imageview

### Expected Behavior

The result of captureImage and the preview should be the same.

[2018-08-03 16:28] Trusted97 commented on #379
The constants about Method,Flash,VideoQuality...
`CameraKit.Constants.METHOD_STILL;`

[2018-08-03 17:15] capezzbr commented on #383
- Device: `samsung SM-G900F`
- Android OS: `6.0.1`

[2018-08-03 19:21] salamanders commented on #389
Makes sense.  Should captureImage secretly block until  PreviewListener onStart finishes to avoid crashes?

[2018-08-03 22:27] AndrewGable commented on #348
-  Android Device: `E6810`
- Android OS version: `7.1.2`

-----

- Android Device: `LG-M210`
- Android OS version: `7.0`

------

-  Android Device: `LGMS210`
- Android OS version: `7.0`

------

- Android Device: `LM-X210(G)`
- Android OS version: `7.1.2`

------

- Android Device: `VS501`
- Android OS version: `7.0`

[2018-08-04 00:41] austinkettner commented on #393
Which version of CameraKit are you using @antoineos ?

[2018-08-04 00:42] austinkettner commented on #392
Hi @tommienu what version of CameraKit are you using?

[2018-08-04 00:54] antoineos commented on #393
Hi @austinkettner ,
1.0.0-beta1

[2018-08-04 17:32] emersoncloud commented on #331
Hi @hiviiup what steps did you take to get this blacked preview? We have another issue #348 to track this, should be resolved shortly but comment there if you have any more feedback.

[2018-08-04 22:32] austinkettner opened #394 "CameraPreview Crash"
[code]

[2018-08-05 14:24] DominikR123 opened #395 "No documentation on what container formats using which codecs (both for audio and video) are produced using this library"
I didn't find any information on this both in your docs nor on your website.
I ask because the main use case for me is to ensure compatibility of videos recorded within our app with iOS users who can receive these videos.
My guess is that your library already produces files that are compatible with iOS, but it would be great if there was some information on it in the docs or if possible have some

[2018-08-06 05:07] zhuzhao404 commented on #384
try to use version “0.13.0”  sloved

[2018-08-06 07:14] pinigtech commented on #393
I am testing this on One Plus 6. I am not seeing an option to set camera_aspectRatio. I am using com.wonderkiln:camerakit:0.13.2. Do I need to upgrade to get that option?

![capture](https://user-images.githubusercontent.com/37616459/43702120-4bf8eb26-9976-11e8-8a28-ba7e1d705b8b.PNG)

[2018-08-06 10:16] pinigtech commented on #394
I am also facing this with **com.camerakit:camerakit:1.0.0-beta3** On One Plus 6 phone. Get the following error:

java.lang.NoClassDefFoundError: Failed resolution of: Lkotlin/jvm/internal/Intrinsics;
at com.camerakit.CameraPreview.<init>(Unknown Source:2)
at com.camerakit.CameraKitView.onResume(CameraKitView.java:368)

This issue was not there in **com.camerakit:camerakit:1.0.0-Snapshot** and als

[2018-08-06 12:10] pinigtech opened #397 "Landscape images also show in portrait"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

One Plus 6 with Android 8.1

### Steps to Reproduce

(Write your steps here:)

1) Take one picture keeping the camera in portrait mode
2) Take another picture keeping the camera in landscape mode
3) View the pictures and you will find they will look like the ones below:

[2018-08-06 12:37] austinkettner commented on #394
Hey @pinigtech can you provide reproduction steps?

[2018-08-06 12:38] austinkettner commented on #383
Should be improved if not resolved in: 0f37519586446a56ce6d419646afc8ac32cca85f

[2018-08-06 12:38] austinkettner commented on #381
Resolved in: 0f37519586446a56ce6d419646afc8ac32cca85f

Please comment if reproduced in Beta3 and I will reOpen

[2018-08-06 12:38] #381 closed

[2018-08-06 12:39] austinkettner commented on #348
Resolved in: 0f37519586446a56ce6d419646afc8ac32cca85f / #318

Please comment if reproduced in Beta3 and I will reOpen

[2018-08-06 12:42] austinkettner commented on #383
Resolved in #318

[2018-08-06 12:43] tommienu commented on #392
Hi @austinkettner,

0.13.1

Thanks for a great library.

[2018-08-06 13:00] austinkettner commented on #392
You are welcome @tommienu can you try out 0.13.x or our v1.0.0-beta3 release and report back?

[2018-08-06 13:37] antoineos commented on #393
@pinigtech
yes : https://github.com/CameraKit/camerakit-android/pull/318

[2018-08-06 14:14] emersoncloud commented on #393
@antoineos @pinigtech We have just release 1.0.0-beta3 here: 0f37519 / #318 be sure to test on beta3 rather than beta1!

[2018-08-07 05:48] ananthramasamy commented on #191
Use this its work for me ....
runOnUiThread(new Runnable() {
                    public void run() {
                        Toast.makeText(getApplicationContext(), "Status = " + message , Toast.LENGTH_LONG).show();
                    }
                });

[2018-08-07 09:45] pinigtech commented on #394
Hi Austin,
It was probably a device specific issue and happened only on One Plus 6.
When trying to capture an image the CameraPreview would crash and one would
see a black screen. I think i had sent the logged error for it. It does not
happen in the Snapshot version but was happening in beta3.

Regards,
Piyush

Piyush Nigam | piyush.n@pinig.com | www.pinig.com
<https://mailtrack.io/trace/link/d6be

[2018-08-07 12:16] pinigtech opened #398 "Crop not cropping"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

One Plus 6.
Using 'com.wonderkiln:camerakit:0.13.2'
### Steps to Reproduce

(Write your steps here:)

1. Take a picture - Check Height and Width
2. use jpegTransformer.crop(Rect)
3. Check Height and Width again
4. No change in Height and Width then no crop happened:

My

[2018-08-07 12:19] pinigtech commented on #393
With 1.0.0 branch I was getting no feedback (in ImageCallback) to tell me
whether the picture was portrait or landscape. The height and width was the
same in both cases. This was not the issue with the default branch thus was
using it.
Let me try the beta3 and update

[2018-08-07 13:46] pinigtech commented on #394
Ok I checked on beta3.1 now on captureImage we get an error which seems to
show that it does not find kotlin.jvm.internal.Lambda :

08-07 18:59:54.110 27847-27847/com.tams.vesselinspection I/zygote64:
Rejecting re-init on previously-failed class
java.lang.Class<com.camerakit.CameraPreview$capturePhoto$1>:
java.lang.NoClassDefFoundError: Failed resolution of:
Lkotlin/jvm/internal/Lambda;
08-07 18:5

[2018-08-07 14:04] pinigtech commented on #394
Added info:
This does not happen on 1.0.0-Snapshot but does happen 1.0.0-beta3.1.

Do let me know if I should be doing anything differently.

On Tue, Aug 7, 2018 at 7:16 PM, Piyush Nigam <piyush.n@pinig.com> wrote:

[2018-08-07 15:06] corjohnson commented on #398
Minor tweak to the code so that it's easier to copy + paste

[code]

[2018-08-07 19:39] pinigtech commented on #384
The default branch handles landscape better than the 1.0.0 in general

[2018-08-07 19:40] pinigtech commented on #374
Can I volunteer to help with the documentation?

[2018-08-08 09:29] iboomboom opened #399 "Can't take picture continuously in version 1.0.0-beta3.1"
### Is this a bug report?
YES
(write your answer here)
Cant take picture continuously in version 1.0.0-beta3.1,
If i click the camera button crazy,it has a bug.Please see the log.

###Logcat
Process: com.camerakit.app, PID: 22823
    java.lang.RuntimeException: takePicture failed, error=-38
        at android.hardware.Camera.native_takePicture(Native Method)
        at android.hardware.Camera.take

[2018-08-08 18:52] emersoncloud commented on #160
@guichico Is there a specific use case you need a startPreview and stopPreview methods for? They are currently only called internally from the `CameraKitView.onResume()` and `CamearKitView.onPause()` methods. Let me know if you need more functionality than this.

Closing the issue but will reopen if there is still a need for this feature! =)

[2018-08-08 18:52] #160 closed

[2018-08-08 19:09] emersoncloud commented on #160
I was mistaken, we do have the ability to start and stop the preview through the `getPreviewListener()` method. The structure may change in upcoming releases but we will let you know if it does!

[2018-08-08 19:24] emersoncloud commented on #236
Add support to adjust the frame rate of video capture.

[2018-08-08 19:28] emersoncloud commented on #328
Hi guys, I've added this to our 1.0.0 milestone. We will be adding video back shortly once we get the image capture API stabilized and I'll make sure this is addressed.

[2018-08-08 19:30] emersoncloud commented on #330
Hey @AdrianMetzner could you test this on our latest release v1.0.0-beta3.1 from the v1.0.0 branch. Let me know if this issue persists and I'll reopen the ticket. Thanks!

[2018-08-08 19:30] #330 closed

[2018-08-08 19:31] emersoncloud commented on #337
Hi @muratYamann could you fill out our issue template so I can better diagnose your issue. I'll reopen this ticket once you have! =)

[2018-08-08 19:31] #337 closed

[2018-08-08 19:32] emersoncloud commented on #286
Duplicate of #334

[2018-08-08 19:32] #286 closed

[2018-08-08 19:40] emersoncloud opened #400 "Blinking Camera Preview"
Galaxy S9 blinking when the CameraKitView is open.

[2018-08-08 19:41] emersoncloud commented on #400
Link to video: https://drive.google.com/open?id=1vHEq3cYpSljYVYIVLxsiS_riHq-Ha7FH

[2018-08-08 19:45] emersoncloud commented on #358
Closing issue. I'll open if you still are having problems!

[2018-08-08 19:45] #358 closed

[2018-08-08 20:27] emersoncloud commented on #384
Hey guys, can you test on the newest version 1.0.0-beta3.1? I just tested on a Google Pixel XL with Android 9.0 and I did not have any rotation issues. The implementation details changed a bit so check the bottom of the PR #318 to see how to get it running. Thanks!

[2018-08-08 20:29] emersoncloud commented on #365
@zakgof any updates from testing on the 1.0.0 branch? The current release is beta3.1, give it a shot!

[2018-08-08 20:31] emersoncloud commented on #377
@hiviiup zoom has not yet been implemented in 1.0.0 but it will be before the official release. As for face detection and camera data flow, that is a feature we are looking to add in a later release. It is similar to #343. I'll add a note there with your use case in mind.

[2018-08-08 20:32] emersoncloud commented on #343
Listener method to access camera data flow.

[2018-08-08 20:37] emersoncloud commented on #374
Hey @pinigtech thanks for the offer! I'll have you email austin at camerakit dot email and he can cover this in more detail.

[2018-08-08 20:39] pinigtech commented on #384
On One Plus 6 camera preview does not work, with or without rotation in
beta3.1. Gives a class definition not found exception. Had reported it in
another bug.

On the other branch I have some interesting twists to report. On 0.13.1 and
0.13.2 the portrait works perfectly. The landscape also shows a good
preview till you take a picture and then it goes all distorted and crazy.
Not twisted enough?
I

[2018-08-08 20:40] pinigtech commented on #374
Will do

On Thu, Aug 9, 2018, 2:07 AM Emerson Cloud <notifications@github.com> wrote:

[2018-08-09 00:40] emersoncloud commented on #384
@pinigtech Did you add the Kotlin line to the app build.gradle?

[code]

[2018-08-09 02:42] darkprize commented on #397
in my case.. using the senesor and rotate myself.
want to know how to get the rotate value from camerakitview object

[2018-08-09 05:44] pinigtech commented on #384
Ok I was missing the kotlin-stdlib-jdk7:1.2.60 and that's why the no class
def error - will test some more update...

On Thu, Aug 9, 2018 at 6:10 AM, Emerson Cloud <notifications@github.com>
wrote:

[2018-08-09 15:34] zakgof commented on #365
Looks like setMethod is not yet implemented, so I cannot test:

![image](https://user-images.githubusercontent.com/8456072/43909320-bb72bf0c-9c02-11e8-8182-2f55a19339b6.png)

[2018-08-11 00:47] corjohnson commented on #398
Example project attached in case anyone else wants to try to repro! I was able to reproduce this issue as well.

[CameraKitTest.zip](https://github.com/CameraKit/camerakit-android/files/2279798/CameraKitTest.zip)

[2018-08-11 08:15] pinigtech commented on #398
Thanks for sharing this Corey. I will take a look at this and come back to
you with what I find. To make it work on One Plus 6 phone here is the
combination of thigs that failed and worked:
1) com.camerakit:camerakit:1.0.0-beta3.1 does not show a camera preview so
failed
2) com.wonderkiln.camerakit:0.13.2 worked mostly well but had two issues in
my limited requirement:

a) in landscape view, after

[2018-08-11 08:45] pawarprasad37 opened #401 "Finishing activity immediately after captureImage() crashes the app."
### Is this a bug report?
Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?
Yes

### Steps to Reproduce
(The camera activity has CameraKit onResume and onPause invocations in its relevant lifecycle methods).
1. Invoke cameraKitView.captureImage(...)
2. Finish the activity in 500 milli-seconds using Handler.postDelayed().
(This is the simulate user behavior of killing t

[2018-08-11 13:10] MrDizzle commented on #370
I'm using beta 3.1 with the added onStart/onStop methods, but it appears the video capture functionality is still not there, can we expect this in beta4 or has the usage changed as this callback still isn't firing for me?

[2018-08-11 13:11] MrDizzle commented on #370
I'm using beta 3.1 with the added onStart/onStop methods, but it appears the video capture functionality is still not there, can we expect this in beta4 or has the usage changed as this callback still isn't firing for me?

[2018-08-11 13:11] MrDizzle commented on #370
I'm using beta 3.1 with the added onStart/onStop methods, but it appears the video capture functionality is still not there, can we expect this in beta4 or has the usage changed as this callback still isn't firing for me?

[2018-08-11 13:11] austinkettner commented on #370
@MrDizzle Video is not in yet. We expect this either in Beta4 or Beta5. We will update the PR on release of Beta4 to outline what's new and if video is included.

[2018-08-11 13:14] MrDizzle commented on #370
Thanks for the update!

[2018-08-14 20:10] RAN3000 commented on #342
Hi, I'm building an app that does some frame processing on a camera preview.

Right now I'm using [Fotoapparat](https://github.com/RedApparat/Fotoapparat), I have a class that implements their FrameProcessor interface. The class gets a frame as a byte[] in NV21 color space, it gets passed to some NDK functions that convert the color space to RGB, resize and eventually rotate it before doing the ac

[2018-08-16 14:18] antoineos commented on #393
@emersoncloud @austinkettner I just test with 1.0.0-veta3.1 and still have the same issue.
Here is my code : https://github.com/antoineos/CameraKitBetaTest
Again the preview is as i want but the picture i get is always 1920 * 1080

Am i doing something wrong ? Don't you have the same issue ?

[2018-08-19 15:14] emersoncloud commented on #342
Hey @RAN3000 thanks for the detailed message with your use case. We appreciate it and will definitely take that into consideration when designing our frame processing. I'm sure we'll have more questions for you a bit further into the process. Thanks!

[2018-08-19 16:54] emersoncloud commented on #393
hi @antoineos right now you have some control over the image resolution with the `cameraKitView.setImageMegaPixels();` function but that implementation will likely change and be refined in upcoming beta releases.

[2018-08-21 13:05] Vincent-Carrier opened #404 "AndroidX Support"
### Environment

Android Studio 3.2 Beta 5

### Steps to Reproduce

1. Include the CameraKit library with AndroidX libraries (which will be default in AS 3.2).
2. Build the project.

### Expected Behavior

The project builds properly

### Actual Behavior

Build fails with this message

[code]

### Reproducible Demo

https://github.com/Vincent-Carrier/FlashDiet/tree/965a8e50a798bd86b7b0b0f60f03e0da

[2018-08-22 02:11] suarezu opened #405 "distorted in preview"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
Xiaomi mi8
Android 8.1.0 API 27

### Steps to Reproduce

(Write your steps here:)

1. add a camera view in some layout
<ConstraintLayout>
    <com.wonderkiln.camerakit.CameraView
        android:id="@+id/camera"
        android:layout_width="0dp"
        android:layout_he

[2018-08-22 02:15] suarezu commented on #405
`
    <com.wonderkiln.camerakit.CameraView
        android:id="@+id/camera"
        android:layout_width="0dp"
        android:layout_height="0dp"
        android:adjustViewBounds="true"
        app:ckLockVideoAspectRatio="true"
        app:ckVideoQuality="max1080p"
        app:layout_constraintBottom_toBottomOf="parent"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constrai

[2018-08-22 04:17] suarezu commented on #405
the library version is 0.13.2, I found a solution which respects the video quality set by the user to the bug:

`
private TreeSet<AspectRatio> findCommonAspectRatios(List<Camera.Size> previewSizes, List<Camera.Size> pictureSizes) {
        Set<AspectRatio> previewAspectRatios = new HashSet<>();
        CamcorderProfile profile = getCamcorderProfile(mVideoQuality);
        AspectRatio userAspectRat

[2018-08-22 16:05] Trusted97 opened #406 "How to set CropOutput in 1.0.0-Snapshot"
I've read documentation but i don't find how to set cropOutpot in 1.0.0-Snapshot

In old version it was
CameraView.setCropOutput(true);

but i can't find this method in this version. Could you help me?

[2018-08-24 17:51] emersoncloud commented on #404
@Vincent-Carrier Thanks for the suggestion. We've talked internally about AndroidX support. I'll put this on our 1.1 roadmap and keep you updated on the progress.

[2018-08-24 17:58] emersoncloud commented on #405
Hi @suarezu we've got this issue documented here #384, check back there for updates. Implementation details of how to use 1.0.0 can be found on the PR #318.

[2018-08-24 17:58] #405 closed

[2018-08-25 09:05] iad24 commented on #184
Any updates on this?

[2018-08-25 09:18] iad24 commented on #164
cameraView.setCropOutput(true) does not work for me. My camera view's height is set to only half the screen of my device. but the output image's height is the whole screen height.

[2018-08-25 16:35] SmartToolFactory opened #407 "Point of setting a fixed size for SurfaceHolder"
Why do you use getSurfaceHolder().setFixedSize(getPreviewWidth(), getPreviewHeight()); since it has no effect on preview size as pointed [here](https://github.com/google/cameraview/blob/master/library/src/main/api9/com/google/android/cameraview/SurfaceViewPreview.java).

It's not actually issue but i don't get why setting fixed size for SurfaceHolder is necessary with
[code]

I also tested it with

[2018-08-27 02:24] danhnexle opened #408 "Cannot CaptureVideo"
### Is this a bug report?
(write your answer here)
Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

(Write your answer here.)
Yes
### Environment

### Actual Behavior

(Write what happened. Add screenshots!)
I cannot capture video in 0.13.2. When I call capture video, the camera call release() immediately and do not run in call back.

[2018-08-28 03:33] jdcaperon commented on #168
Was there any advice on how this issue was resolved?

[2018-08-28 06:23] jdcaperon opened #409 "CameraKitView Issues on 1.0.0"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes.

### Environment

Development:
Android Studio 3.1.4
Build #AI-173.4907809, built on July 24, 2018
JRE: 1.8.0_152-release-1024-b01 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.13.0-37-generic

Debugging:
Samsung Galaxy S8+
Android 8.0.0

### Steps to Reproduce

1. Create

[2018-08-28 08:13] noamshio commented on #377
So as of now, there is no option to zoom the camera ? not even using pinch ?

[2018-08-28 21:30] austinkettner commented on #383
Reported on

Device: `Samsung J5`
Android OS: `6.0.1`

[2018-08-28 22:16] austinkettner commented on #394
Should be resolved as of Beta4, will reOpen if not!

[2018-08-28 22:18] austinkettner commented on #382
Resolved in Beta4 #403

[2018-08-28 22:18] #382 closed

[2018-08-28 22:31] austinkettner opened #410 "Camera Capture non-functional on Emulator"
Official maintainer ticket

[2018-08-28 22:41] austinkettner commented on #380
Thanks for filing this @hiviiup this should be resolved in Beta 3.7 shown in #318

[2018-09-02 02:02] iad24 opened #411 "Request permission handling"
At first, the camera view of my screen is hidden. Then if a user clicks a button, I will then show the camera and along with the permission request dialog. Whats happening now is that when I open the screen and even if my camera is still hidden, it will already ask for permission. Is it possible that we can control when to ask the permission? or disable the auto handling of this permission from th

[2018-09-04 02:06] emersoncloud commented on #168
Hi @jdcaperon what issue are you running into? This post referenced a much older version of CameraKit. We're currently working on the 1.0.0 release, and you can see some basic implementation details at #318. I'll be happy to answer any questions you might have.

[2018-09-04 02:14] emersoncloud commented on #409
Hey @jdcaperon sorry I missed this issue when I responded to your other comment. I'll look into this and get back to you!

[2018-09-04 10:32] santoshthorani commented on #305
@emersoncloud  I tried on Samsung J5 prime, video is flipped recorded while  preview is ok using front camera.

[2018-09-06 05:45] santoshthorani opened #412 "Flipped Video Recorded on Samsung J5 Prime"
The Preview of the camera is ok but the video recorded and saved in a file was flipped (mirror view)

[2018-09-06 09:22] yankelandroid opened #413 "I cant record video , the callback not be called"
### Is this a bug report?

YES

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?
YES

### Environment

com.camerakit:camerakit:1.0.0-Snapshot

### Steps to Reproduce
1. if i want record video , camerakitview.startVideo(); than camerakitview.stopVideo();
and implement  cameraView.captureVideo(new CameraKitView.VideoCallback() {
                    @Override

[2018-09-07 07:51] deeroad opened #414 "Crash on start"
I change my CameraKit version from 1.0.0-snapchat to 1.0.0-beta3.9,and my app crashed whenever it started. It runs well on version snapchat.
The logcat prints the follwing errors:
（The output image of snapchat version is incredibly small,and I dont't now why.）
------------------------------------------------------
09-07 15:36:03.189 26200-26200/com.alasoft.photoclient E/MemoryLeakMonitorManager: M

[2018-09-08 01:27] jdcaperon commented on #168
Thanks, my issue is referenced #409.

[2018-09-10 15:42] frontiertsymbal opened #415 "android.graphics.SurfaceTexture.setDefaultBufferSize(int, int) crash"
Hi. Thanks for great library.

I have a crash on Meizu M5s after taking photo. I haven`t  more info, because the app is crashed on device 1100 km away from me.

Snapshot 1.0.0 version

Log from Crashlytics:

[code]

[2018-09-10 20:44] bpappin opened #416 "Documentation is hopelessly out of date"
The documentation is so out of date, its pretty useless.
See:
http://docs.camerakit.website/#/

[2018-09-10 23:48] austinkettner commented on #416
Rest assured it's not hopeless!

It's a known area we need to improve vastly, we are waiting on Beta4 with it's final API. After that we will be rapidly improving the documentation around v1.0.0.

The documentation is entirely aimed at 0.13.x and for that release it is up to date!

[2018-09-11 00:53] copyHub opened #417 "How to use .setFocusableInTouchMode version 1.0.0-beta1"
### Is this a bug report?

(write your answer here)

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

(Write your answer here.)

### Environment

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

(Write what happened. Add screenshots!)

### Reproducible Demo

(Paste the link to a

[2018-09-11 18:23] tt-aali opened #418 "Does video capture work for 1.0.0 beta?"
### Is this a bug report?

(write your answer here)

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

(Write your answer here.)

### Environment

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

(Write what happened. Add screenshots!)

### Reproducible Demo

(Paste the link to a

[2018-09-11 21:40] emersoncloud commented on #417
Hi @copyHub we currently do not have any `setFocusable()` features built into CameraKit. What's your use-case for `setFocusableInTouchMode()`?

[2018-09-11 22:42] emersoncloud commented on #413
Hi @yankelandroid video has not yet been implemented in v1.0.0-betaX.X. We are looking to roll that out with v1.0.0-beta4.0 in about a week. Stay tuned for that release, we'd love to get your feedback on video performance then!

[2018-09-11 22:42] #413 closed

[2018-09-11 22:48] emersoncloud commented on #418
@tt-aali video has not yet been implemented in v1.0.0-betaX.X. We are looking to roll that out with v1.0.0-beta5 shortly. Stay tuned for that release, we'd love to get your feedback on video performance then!

[2018-09-11 22:48] #418 closed

[2018-09-11 23:00] emersoncloud commented on #415
Hi @frontiertsymbal could you test on the latest beta, v1.0.0-beta3.9? There are a couple implementation differences for beta3.9, you can see those in the PR comments #318.

Are you experiencing this on other devices or just that one Meizu M5s? Which version of Android is that device running? Thanks!

[2018-09-11 23:07] emersoncloud commented on #414
@deeroad you need to add two new lines to the dependencies section of your `build.gradle` file.

[code]

Check out the PR comments #318 for more information. Let me know if you're still having issues!

[2018-09-11 23:07] #414 closed

[2018-09-11 23:08] emersoncloud commented on #412
@santoshthorani which version of CameraKit are you using?

[2018-09-11 23:25] #409 closed, assigned to nobody

[2018-09-12 12:08] frontiertsymbal commented on #415
Xiaomy Redmi Note 4 - Android 7.0
Meizu M5s - Android 6.0

On Huawei Nexus 6p (Android 8.1) and Xiaomi A1 (Android 8.1) and LG Nexus 5 (Android 6.0.1) all works fine. I haven`t access to Xiaomy Redmi Note 4 and Meizu M5s, only Crashlitycs report.

Today i`ve tested v1.0.0-beta3.9 - i have another problem with native code with very very long stacktrace - looks like something wrong with Camera initi

[2018-09-13 17:35] EdwardTeac opened #419 "How to use getFrames version 1.0.0"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

Im using the following code to catch frames, and share camera preview
cameraKitView.captureFrame(new CameraKitView.FrameCallbac

[2018-09-13 17:54] austinkettner commented on #410
Resolved in #318

[2018-09-13 17:54] #410 closed

[2018-09-15 06:18] liusilong opened #420 "How to set the size of the preview window?"
**How to set the size of the preview window? Because I want to take a photo with a ratio of 1:1 or 3:4.**
I want to call the following method settings，
[code]
But I can't call it.
Thanks !!!

[2018-09-15 15:46] liusilong commented on #420
Ok! When I set this property `camerakit:ckCropOutput="true"` the photo taken is the same as the preview image.

[2018-09-16 12:15] frontiertsymbal commented on #415
@emersoncloud Hi. Any updates regarding these bugs?

[2018-09-19 05:46] langhoangal commented on #408
Same here, use the latest version. It work on my android 5, but not working on android 8

[2018-09-19 10:00] XinyueZ opened #422 "[FEATURE]Need clearCameraKitListener()"
Is there any chance to do `removeCameraKitListener`  or similar?
If not, I want to make a PR for this feature.

[2018-09-19 10:03] XinyueZ commented on #342
I need frame processing as well, something like:
[code]

[2018-09-19 17:45] bpappin commented on #10
Just an FYI on this issue.
Some devices have the image sensor rotated one way or the other.

[2018-09-19 21:53] david-alejandro-reyes-milian commented on #55
Good job with the lib, yet very bad that there is no access to the frames in order to enable the Barcode scanner. Is there any way of improving it? I could implement it if someone provides a general idea.

[2018-09-20 08:01] gsavvid commented on #348
Same here. Tested with beta3.9 on Nexus 5x with Android 8.0.1. No camera preview is shown, just a black screen.

[2018-09-20 15:18] ManojMM026 commented on #408
this is basic! it is not working for me either. Samsung galaxy s8 with Oreo.
 Now I may have to go and do it all from scratch.

[2018-09-20 15:24] ManojMM026 opened #423 "Capture video not working"
### Is this a bug report?

YES.

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

(Write your answer here.)

### Environment
    implementation 'com.wonderkiln:camerakit:0.13.1'

### Steps to Reproduce

(Write your steps here:)

1. capture video with `camera.captureVideo(file, callback)`
2. Log printed as
[code]

### Expected Behavior
Should capture video and store it on

[2018-09-20 19:42] emersoncloud commented on #55
Hey @david-alejandro-reyes-milian we are aware that getting access to the frames is a pretty big issue for a lot of developers. Issue #342 covers individual frame inspection, if you have any more thoughts or suggestions drop them there.

Currently our development attention has been focused on the official v1.0.0 release with stable photo and video support. However look for frame inspection in a fu

[2018-09-20 20:12] emersoncloud commented on #348
Hi @gsavvid and @shreekrishnaban can you post the code you are using to start the CameraKitView?

[2018-09-20 20:13] bpappin commented on #295
I think I'm using the snapshot of 1.0.0, but the torch/flash is not working on a Nexus 5X.
I just checked the v1.0.0 branch directly, with the same result.

[2018-09-20 20:43] XinyueZ commented on #55
there is already API ```override fun onFrame(cv: CameraKitView?, bytes: ByteArray?) ``` , but it doesn't work.
see ```FrameCallback``` in ```https://dl.bintray.com/camerakit/camerakit-android-snapshots/com/camerakit/camerakit/1.0.0-Snapshot/```
The set of this callback is empty.

[2018-09-20 21:08] emersoncloud opened #424 "Landscape View Flipped When Rotating Quickly"
When in landscape and quickly flipping to the other landscape orientation, the CameraPreview is upside-down.

CameraKit version: `1.0.0-beta3.9`

Official Maintainer Ticket: @emersoncloud

[2018-09-20 21:28] austinkettner opened #425 "Ability to change audio/video codecs"
- Ability to define custom, or from a pre-provided list, a audio or video codec

[2018-09-21 02:01] langhoangal commented on #408
@ManojMM026 after handling WRITE_EXTERNAL_STORAGE by myself then it works. You can give a try.

[2018-09-21 11:01] ManojMM026 commented on #423
Samsung s8 with oreo 8.0.0

[2018-09-21 14:41] bpappin opened #426 "[Feature] Check if Flash hardware exists on device"
This is a Request For Enhancement (RFE), rather than a bug report.

I'm finding a lot of devices don't have a flash.
It would be very handy if I could find out if i should show the flash button with a simple call to `<cameraview>.hasFlash()`.

Some information about how this is done can be found in this Stack Overflow link.
https://stackoverflow.com/questions/13413938/how-to-check-if-device-has-fl

[2018-09-21 16:17] austinkettner commented on #426
Thanks for the RFE @bpappin - we love getting tickets like this!

I have marked this as something to be sure to include in our finalized 1.0.0 release. You are correct that the current v1.0.0 is causing a few things to be out of sync, we are working hard to get everything back in line.

[2018-09-21 16:19] austinkettner commented on #422
@XinyueZ What is your end goal here? Can you explain the rationale behind requesting this feature? We can definitely look at adding it =)

[2018-09-21 19:17] XinyueZ commented on #422
This is for the integrity of the API, since with "add" there should be a "remove" as a matter of course, and there is no guarantee that the added listeners will be called incorrectly without control. What do you think?

[2018-09-21 20:07] bpappin commented on #426
You might also include a hasCamera(FRONT|REAR), as sometimes a device doesn't have one or the other.

Or maybe it would be more flexible to be able to access the camera device object. I could then have done the flash check myself :)

[2018-09-21 20:08] bpappin commented on #422
I think I would +1 this if its not too hard to add, if not just for symmetry, I could see using it now and then.

[2018-09-22 02:48] ArsalRaza commented on #89
I am also facing this issue in version 0.13.1 .

[2018-09-22 13:54] sandys commented on #383
hi guys,
quick question - is there a way we can detect bad quality/blurry pictures ? we are facing this issue with camerakit and while we wait for a fix... im wondering if there is a way we can detect bad quality pictures so that we can ask the user to retake the picture

[2018-09-24 14:06] emersoncloud commented on #89
@ArsalRaza Which version of Android are you using? Can you post the code you are using to create the `CameraKitView`? Both the XML and java activity. Thanks!

[2018-09-25 07:49] gsavvid commented on #348
@emersoncloud here's a simple demo app with a screenshot. I've tested it on my Nexus 5x Android 8.1.0 (not 8.0.1 like I accidentally wrote previously).

[2018-09-25 08:29] XinyueZ commented on #342
#419 has the same issue.

[2018-09-25 10:01] MeteC opened #427 "[Beta 3.9] - Camera preview not rotating correctly with device orientation"
### Environment

Development:
- Android Studio 3.2 (Also found in AS 3.1), Mac High Sierra

Running Devices:
- Xiaomi A1 (Android 8.1)
- OnePlus 3T (Android 8.0)

### Steps to Reproduce

See attached project, the gist is:

1. New Android project
2. Include CameraKit beta 3.9 in gradle
3. Create a basic CameraKit Activity which just shows a camera preview on screen
4. Fire up the app on one of the

[2018-09-25 10:02] MeteC commented on #427
#318

[2018-09-25 17:35] emersoncloud commented on #427
Much thanks for the detailed issue! I was able to reproduce it on my test devices and got similar results that you mentioned.

Has rotation issue on:
* Pixel XL - Android 9.0
* Moto G6 - Android 8.0

Issue does not happen on:
* Samsung Galaxy S7 - Android 7.0

I was able to fix the issue entirely by moving the `CameraKitView` out of the `CameraKitActivity.java` and into the `MainActivity.java`. It

[2018-09-25 17:52] emersoncloud commented on #348
On the latest beta, v1.0.0-beta3.9 you have to add two additional functions when creating a `CameraKitView`. There is a comment about this in the PR notes #318, but it's easy to miss. These methods won't stay for the final v1.0.0 version but were needed for this particular beta.

In the `MainActivity.kt` you need to override `onStart()` and `onStop()` like so:

[code]

Thanks for your demo code, i

[2018-09-26 07:45] MeteC commented on #427
Ah good to hear, thanks!

[2018-09-26 12:49] bpappin commented on #295
@emersoncloud and how do I get the beta3.9 build?
I am exceedingly confused buy your release process, and working bransches :)
(have you considered a process like gitflow?)

The XML I'm using is as follows:
[code]

[2018-09-26 18:19] austinkettner commented on #295
Hey @bpappin thanks for the added information!

You can get the Beta3.9 build from the v1.0.0 PR/branch or (Bintray/Gradle via incrementing the version to match `beta3.9`) which is the primary source of dev, other branches aren't mentioned or advertised as they aren't meant to be tested directly until merged in v1.0.0.

We do follow a process of gitflow but without the 'develop' branch currently =

[2018-09-28 19:53] ArslanKathia commented on #416
when the new Version of camera-Kit is released?

[2018-10-01 07:37] BrunoTrovoN26 opened #428 "1.0.0 Beta 3.9 - Camera can't focus and take a picture on Samsung S6"
**Environment**

**Development:**
Android Studio 3.2
Build #AI-181.5540.7.32.5014246, built on September 17, 2018
JRE: 1.8.0_152-release-1136-b06 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.6

**Running Devices:**
- Samsung S6

**Steps to Reproduce:**
Open the camera using camera kit and the device mentioned above, and try to take a picture.

**Expected Behavior**
Should es

[2018-10-02 08:03] DavidAngelos commented on #423
@ManojMM026 have you gave your app the write external storage permission?

[2018-10-04 09:48] jewom opened #429 "Fatal Exception: java.lang.RuntimeException setParameters failed Camera1.java line 295 com.wonderkiln.camerakit.Camera1.setZoom"
I receive this crash from Crashlytics :

Fatal Exception: java.lang.RuntimeException setParameters failed
Camera1.java line 295
com.wonderkiln.camerakit.Camera1.setZoom

With a TOSHIBA Tab AT10LE-A/AT15LE-A/AT10PE-A/AT15PE-A (Japan: AT703)

[com.belami.essential_issue_58_crash_5BB4D8AB018900016D0A187E3A8DFFEE_DNE_0_v2.txt](https://github.com/CameraKit/camerakit-android/files/2445825/com.belami.ess

[2018-10-04 09:49] jewom opened #430 "Camera1.java line 295 com.wonderkiln.camerakit.Camera1.setZoom Fatal Exception: java.lang.RuntimeExceptionsetParameters failed"
Camera1.java line 295
com.wonderkiln.camerakit.Camera1.setZoom

Fatal Exception: java.lang.RuntimeExceptionsetParameters failed Raw Text
--
  | android.hardware.Camera.native_setParameters (Camera.java)
  | android.hardware.Camera.setParameters (Camera.java:1497)
  | com.wonderkiln.camerakit.Camera1.setZoom (Camera1.java:295)
  | com.wonderkiln.camerakit.Camera1.adjustCameraParameters (Camera1.jav

[2018-10-05 09:07] Username5263 commented on #393
Hi! Has this been resolved by beta4? And if it is, is it available to utilize? Thanks!

[2018-10-05 09:55] devonEdison opened #431 "D8 issues"
### Is this a bug report?

no

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

yes

### Environment
mac, android studio 3.2

### Steps to Reproduce

(Write your steps here:)
https://issuetracker.google.com/issues/77842465
since the D8 has been used in android studio 3.2
so the gradle build might have some issues when installing app. (takes so much time.)

please upgrade

[2018-10-05 13:36] emersoncloud commented on #429
Hi @jewom which version of CameraKit are you using? Also which version of Android was the device running that crashed? Thanks!

[2018-10-05 15:51] willks opened #432 "Q: Default camera buttons option (Using CameraKitView)?"
Apologies for deleting default template - given the tried examples from documentation I could not get it done and could not quite fit it into template as it's not a bug/issue really.

Q: Is there a way to make the shutter button use the default camera button for device (using CameraKitView)? This is purely for display purposes.
    Separately (but related), documentation has been difficult to foll

[2018-10-05 18:36] devonEdison commented on #431
if I uses this library , it will cause  slow install on a few phones. (like LG G4)

[2018-10-05 18:36] devonEdison commented on #431
please help

[2018-10-05 18:37] austinkettner commented on #431
Hi @devonEdison can you elaborate on what you mean by 'Slow install'? Do you have specific metrics you can list here to demonstrate the difference?

[2018-10-09 06:53] ManojMM026 commented on #423
Yes

[2018-10-10 14:47] srinathvidapu commented on #428
same issue for redmi note 4 image callback not callling

[2018-10-11 07:05] ShalevCohen2112 opened #435 "NullPointerException while taking image"
java.lang.NullPointerException: Attempt to invoke virtual method 'void android.hardware.Camera.setOneShotPreviewCallback(android.hardware.Camera$PreviewCallback)' on a null object reference
        at com.wonderkiln.camerakit.Camera1.captureImage(Camera1.java:452)
        at com.wonderkiln.camerakit.CameraView.captureImage(CameraView.java:461)
        at com.wonderkiln.camerakit.CameraView.capture

[2018-10-11 12:12] #430 closed

[2018-10-11 13:06] letruonglamit opened #436 "No toolchains found in the NDK toolchains folder for ABI with prefix: mips64el-linux-android"
Deprecated functions
Seems "mips64el-linux-android" is missing because it got deprecated. So I can not build

![image](https://user-images.githubusercontent.com/22797715/46806167-220c8d00-cd91-11e8-9c86-181499fad98c.png)

[2018-10-12 10:55] ckdvivedi commented on #436
Update to latest

classpath 'com.android.tools.build:gradle:3.2.1'
distributionUrl=https\://services.gradle.org/distributions/gradle-4.6-all.zip

[2018-10-13 02:47] tt-aali opened #437 "3.9 beta -- camerakitview.captureimage/capturevideo"
Do those callbacks still exist? Or are we capturing snapshots and videos in a different way?

[2018-10-15 20:01] emersoncloud commented on #437
Hi @tt-aali we will update the documentation to reflect the latest changes in 1.0.0 when we release beta4. The `camerakitview.captureImage` method still exists and expects a `CameraKitView.ImageCallback()`. See the example below:

[code]

Currently `captureVideo` is empty but will exist in 1.0.0-beta5!

[2018-10-15 20:01] #437 closed

[2018-10-15 20:13] emersoncloud commented on #436
Thanks for suggestion @ckdvivedi! Closing this ticket.

[2018-10-15 20:13] #436 closed

[2018-10-15 20:16] emersoncloud commented on #435
Hi @ShalevCohen2112 can you provide some more details about your application and Android device?

1. Which version of CameraKit you're using
2. The section of code you're using to create your CameraKitView
3. Your Android device version

Once I get that information I'll be able to better diagnose your issue. Thanks!

[2018-10-15 20:30] emersoncloud commented on #392
Closing this ticket. If it is still an issue leave a comment and I can re-open.

[2018-10-15 20:30] #392 closed

[2018-10-16 01:10] emersoncloud commented on #391
Hi @salamanders in the latest beta, 1.0.0-beta3.9 you can set the image resolution through the function `cameraKitView.setImageMegaPixels(float megaPixels)`. We will be updating our documentation to cover this and more with beta4!

[2018-10-16 01:10] #391 closed

[2018-10-16 01:50] emersoncloud commented on #393
Hi @Username5263 in beta3.9 you can set the aspect ratio with: `cameraKitView.setAspectRatio(float ratio)`. It takes a single float that is the ratio between height and width.

[2018-10-16 01:50] #393 closed

[2018-10-16 02:11] emersoncloud commented on #408
Closing. If it is still an issue let me know and I can reopen.

[2018-10-16 02:11] #408 closed

[2018-10-18 07:32] lwlizhe commented on #428
same issue for huawei honor 8，cameraKitView.captureImage(CameraKitView.ImageCallback)  doesn't work

[2018-10-18 23:32] austinkettner commented on #394
No longer seeing this in Beta3.x and forward. Closing.

[2018-10-18 23:32] #394 closed

[2018-10-19 12:44] KlaartjeD commented on #427
Any news on this?
I was able reproduce this on the Samsung Galaxy Tab S3

[2018-10-20 15:37] #435 closed

[2018-10-21 03:31] Sonphil opened #439 "com.jpegkit.Jpeg reference problem"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
Android Studio 3.2.1
com.camerakit:camerakit:1.0.0-beta3.9

### Steps to Reproduce

1. Include v.1.0.0-beta3.9 of the library and use CameraKitView in your project
2. Build the project with ProGuard enabled

### Expected Behavior

The project builds properly.

### Actual

[2018-10-21 12:26] Sonphil opened #440 "Failed to register native method com.camerakit.preview.CameraSurfaceView.nativeRelease"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
Android Studio 3.2.1
com.camerakit:camerakit:1.0.0-beta3.9

### Steps to Reproduce

(Write your steps here:)

1. Include v.1.0.0-beta3.9 of the library and use CameraKitView in the project
2. Include `com.camerakit:jpegkit:0.1.0` (in order to fix issue #439)
3. Run the ap

[2018-10-22 01:58] dongbeicxy opened #442 "RuntimeException"
setParameters failed
com.wonderkiln.camerakit.Camera1.setFocusArea(Camera1.java:366)

[2018-10-22 09:05] coderYiTaoZhang commented on #429
I'm using version 0.13.0 ,I have  met the same problem; The version of Android is 6.0.1 8.0.0 7.1.2 7.1.1 7.0;
Mabe you need the devices types.there are some   oppoR9s R9; SM-G930S  VIVO Y66 M6 Note

[2018-10-22 12:31] SohailZahidGit commented on #420
@liusilong `camerakit:ckCropOutput="true"` in case of video is stretching the video in full screen mode.

[2018-10-22 13:11] #439 closed

[2018-10-22 13:11] #440 closed

[2018-10-22 14:39] sanoopsandy opened #443 "Camera kit crashes when flash set to auto"
### Is this a bug report?

Yes

Was trying to create a dummy project with CameraVeiw. After following the Readme section the app was crashing. Upon going through the stack-trace I saw that there was some issue with the flash section.

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
Kotlin

### Steps to Reproduce

1. Just add the camera kit to a new p

[2018-10-22 15:26] #442 closed, assigned to nobody

[2018-10-22 19:04] Sonphil commented on #406
It's not in v. 1.0.0-beta3.9 either.

[2018-10-23 12:44] KlaartjeD commented on #443
It's the same with FLASH_TORCH

[2018-10-23 14:12] tolstovdmit commented on #443
Hi. I see at the website docs that the property name is actually ckFlash.
http://docs.camerakit.website/#/?id=ckflash

At the demo app too:
https://github.com/CameraKit/camerakit-android/blob/master/demo/src/main/res/layout/activity_main.xml

I think it's maybe more of the README.MD example changing.

[2018-10-23 14:18] KlaartjeD commented on #443
The property used to be ckFlash before 1.0, it's camera_flash now
app:camera_flash="on" and app:camera_flash="off" are both working.

[2018-10-23 14:55] tolstovdmit commented on #443
I see this paramter (camera_flash) is used to Came**Kit**View and the issue says CameraView. Maybe that's the problem?

[2018-10-23 15:58] tolstovdmit commented on #443
Can you provide a stacktrace of an error?

[2018-10-23 16:10] emersoncloud commented on #443
@KlaartjeD @tolstovdmit I apologize for the confusion. The error that @sanoopsandy originally posted is in CameraKit v1.0.0-beta3.9. The links to the documentation and demo application are in version 0.13.2:

I'll be pushing a fix for the flash today and updating the master branch with the latest beta code shortly thereafter. Let me know if you have any more questions.

[2018-10-25 20:42] austinkettner opened #444 "[Beta3.9] Camera locks up upon capture"
## Official Maintainer Ticket

Issue Reported: Camera upon capture locks up, but does not crash.

| Device Name | Device ID | OS | CameraKit QA'd  | Expensify QA'd  |
|---|---|---|---|---|
|  Sony Xperia Z5 | E5823 | 7.1.1  |  |   |

#### Rule to Close
- Only check off the devices that are tested
- Non-directly testable devices by Official CameraKit Team will be QA'd externally

[2018-10-26 15:33] austinkettner commented on #427
Looking to resolve in a upcoming beta release!

[2018-10-26 15:39] austinkettner commented on #428
Hi guys! Can you please see ticket #383 I have added the reported devices but was hoping you each could comment with Android OS and Device ID to make tracking these issues more precise.

Also @srinathvidapu can you comment and confirm in that ticket that the issue is focus related? You are specifically mentioning a callback not returning, so wanted to confirm. Thanks!

[2018-10-26 15:39] #428 closed

[2018-10-28 11:04] huangyz0918 commented on #443
I was confused by your document, can it be updated as the latest version in the website? I can see there is still at version: 0.12.0, which is out of date :(

[2018-10-29 07:22] ArmnDev opened #445 "Image Texts getting reversed in case of front camera."
I am trying to take photo with front camera and its working fine but the texts in the imaae are getting reversed.
### Is this a bug report?

(write your answer here)

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

(Write your answer here.)

### Environment

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would h

[2018-10-29 10:36] fahime-ghasemi opened #446 "pinch to zoom doesn't work"
I used the document if master branch for using camerakit in my app. According to the documentation, the library has pinch to zoom feature, but there isn't.

[2018-10-29 13:53] zpymyyn commented on #414
Hi there,

I still met with the issue after adding those lines...
Appreciate any help.
Phone in use: Huawei P20 Lite

[2018-10-29 15:30] austinkettner commented on #446
Hi @fahime-ghasemi which version of CameraKit are you using?

[2018-10-29 15:30] austinkettner commented on #445
Hi @ArmnDev can you please follow the issue template and we will reOpen this?

[2018-10-29 15:30] #445 closed

[2018-10-29 15:40] fahime-ghasemi commented on #446
I added the folowing codes to my build.gradle

    implementation 'com.camerakit:camerakit:1.0.0-beta3.9'
    implementation 'com.camerakit:jpegkit:0.1.0'
    implementation 'org.jetbrains.kotlin:kotlin-stdlib-jdk7:1.2.61'
    implementation 'org.jetbrains.kotlinx:kotlinx-coroutines-android:0.24.0'

[2018-10-29 15:45] austinkettner commented on #414
Hi @zpymyyn can you please share your full gradle implementation and a code sample of what you are trying to do?

[2018-10-29 15:47] austinkettner opened #447 "[Feature] Pinch to Zoom"
### Official Maintainer Ticket

- [ ] Add Pinch to Zoom functionality
- [ ] Add Documentation of Feature

[2018-10-29 15:47] austinkettner commented on #446
Pinch to Zoom is not currently in the v1.0.0 releases. We expect this to return with full documentation in Beta4. You can track this feature here: https://github.com/CameraKit/camerakit-android/issues/447

[2018-10-29 15:48] austinkettner commented on #443
Updates are in the works @huangyz0918 we know this is an important step to clarify many things!

[2018-10-29 15:48] #443 closed

[2018-10-29 15:50] austinkettner commented on #416
Hey all, we expect to be rolling out a new documentation site and proper documentation for the various current releases of CameraKit within the next two weeks.

[2018-10-29 15:50] #416 closed

[2018-11-03 12:01] fahime-ghasemi commented on #437
How can we take video when we are using 1.0.0-beta3.9?

[2018-11-07 09:12] yusufceylan commented on #406
Any solution, I have the same issue?

[2018-11-08 13:50] BenMoveo commented on #415
hi @emersoncloud the crash reported here happens to me also no matter on which device - (Pixel emulator, Huawei P9, LG K10)

I noticed it happens when I start the app again (from my IDE) without shutting down the app.
I've tried to test with v1.0.0-beta3.9 but the problem remains.
Waiting for updates,
Ben.

[2018-11-13 06:34] abhinav011085 opened #451 "Camera preview is very different than the native camera app v1.0.0"
was working fine in 0.13.0

Native camera image
![img_20181113_120031287](https://user-images.githubusercontent.com/15052440/48395103-26371c00-e73c-11e8-9241-c64b7fe77f41.jpg)
Camerakit's camera image
![pic1542090617467](https://user-images.githubusercontent.com/15052440/48395104-26371c00-e73c-11e8-959c-75e863b6bd53.png)

[2018-11-13 14:03] ShalevCohen2112 opened #452 "RECORD_AUDIO premition on the premition list"
there is a way to remove the declaration of microphone premition from the application premition list?
 I am only using the picture function.

[2018-11-13 15:13] emersoncloud commented on #451
Thanks for creating this issue! Could you provide some more information to help us get to the bottom of this?

1. CameraKit Version (which v1.0.0 beta version are you using)
2. Android Device
3. Android Version
4. XML code where you create the CameraKitView
5. And how you initialize the CameraKitView in Java

[2018-11-13 15:41] emersoncloud opened #453 "Remove unused permission from application permission list"
If a user only requires a subset of CameraKit permissions, remove the rest from the "App Info" permission list.

Official maintainer ticket @emersoncloud

[2018-11-13 15:41] austinkettner commented on #452
We will make this use case is properly outlined is the new documentation. You can track the progress here: https://github.com/CameraKit/camerakit-android/issues/453

[2018-11-14 21:02] emersoncloud commented on #452
Closing in favor of #453.

[2018-11-14 21:02] #452 closed

[2018-11-14 21:08] #432 closed

[2018-11-14 21:38] emersoncloud commented on #420
Hi @liusilong closing this issue. Let me know if you have any more questions! =)

[2018-11-14 21:38] #420 closed

[2018-11-14 21:39] emersoncloud commented on #419
Like @XinyueZ mentioned, please follow up on ticket #342 for frame inspection updates. Closing this ticket.

[2018-11-14 21:39] #419 closed

[2018-11-14 21:57] emersoncloud commented on #415
Hi @BenMoveo can you give me some more context about the crash you're experiencing?

Are you getting the same error on both 1.0.0-snapshot as you are on 1.0.0-beta3.9?

A log of the error would be very helpful as well as your implementation of CameraKit in the XML and Java. Thanks!

[2018-11-14 21:58] emersoncloud commented on #412
Closing this issue. If you're still experiencing issues comment back and I can re-open the issue.

[2018-11-14 21:58] #412 closed

[2018-11-14 22:03] emersoncloud commented on #415
@frontiertsymbal Could you try v1.0.0-beta3.9 following the instruction on the README here: https://github.com/CameraKit/camerakit-android.

[2018-11-15 03:29] emersoncloud commented on #399
@iboomboom Could you test on the latest version v1.0.0-beta3.9 and see if the issue persists? I'll reopen the issue if that's the case! Thanks!

[2018-11-15 03:29] #399 closed

[2018-11-15 11:59] akiller opened #454 "OnePlus 3 creates image with corruption on one edge"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment
OnePlus 3 running OxygenOS 5.0.6 (Android 8.0.0).

CameraKit beta 3.1 and 3.9 both have this problem, I haven't tested all the releases in-between.

### Steps to Reproduce

Take a photo and save to storage. As far as I can tell other phones and the Android Emulator don't

[2018-11-19 10:32] usmanrana07 opened #455 "Camera Preview streches on Rotation"
Hi! I'm facing preview stretch issue. The issue produces like this: The screen is in Portrait mode , i lock the device to sleep mode, onStop method calls and i stop the camera in that. Then i rotate the device to landscape mode and unlock the device. in onResume method i start camera again. The preview is very stretched now.   Note: The screenOrientation of activity is set to Portrait.

[2018-11-19 12:36] emersoncloud commented on #455
Thanks for this issue! To help us better diagnose it, could you provide some more information?

1. CameraKit Version
2. Android Device
3. Android Version
4. XML and Java snippets where you initialize the CameraKitView

Thanks!

[2018-11-19 12:39] emersoncloud commented on #455
Closing this issue. I'll reopen when I hear back from you! =)

[2018-11-19 12:39] #455 closed

[2018-11-19 12:41] austinkettner commented on #451
Can you share your gradle implementation @abhinav011085 ? It still not clear which exact version of CameraKit you are using.

[2018-11-19 12:42] austinkettner commented on #397
Should be fine in #318 please let us know if not!

[2018-11-19 12:42] #397 closed

[2018-11-19 12:44] austinkettner commented on #429
Hey @coderYiTaoZhang we are not longer supporting 0.13.x releases, and are exclusively focused on v1.0.0 via #318 - please use that instead.

[2018-11-19 12:44] #429 closed

[2018-11-19 12:45] austinkettner commented on #423
Hey everyone, we are no longer supporting 0.13.x with active development and instead focused on our v1.00 via #318 - video functionality doesn't exist currently but it's coming soon.

[2018-11-19 12:45] #423 closed

[2018-11-19 12:47] #400 closed

[2018-11-19 14:32] usmanrana07 commented on #455
Using the latest CameraKit version.
Device is Samsung S6 with version 7.0 (issue is on Nexus 5 and Note 8 as well and i believe is on all devices).

There is nothing fancy done at code part than simple commands to start or stop camera. The scenario to produce issue is described above.

[2018-11-19 15:01] emersoncloud commented on #407
@SmartToolFactory thanks for the deep dive into this issue. The issue pertains to CameraKit version 0.13.2. Our current development focus is on v1.0.0 but we will address this in a future patch of 0.13.x.

[2018-11-19 15:40] #407 closed

[2018-11-19 17:19] emersoncloud commented on #401
@pawarprasad37 Thanks for the issue and the demo application, it was very helpful!

I was able to reproduce the issue on CameraKit version 1.0.0-snapshot like you have above. However switching to version 1.0.0-beta3.9 CameraKit no longer crashes during the capture image process. Let me know if you run into any more issues.

[2018-11-19 17:19] #401 closed

[2018-11-19 17:33] emersoncloud commented on #401
As a side note implementation instructions for beta3.9 are up on the main README here: https://github.com/CameraKit/camerakit-android

[2018-11-19 17:36] emersoncloud commented on #389
Resolved in the latest beta version, beta3.9. See implementation instructions [here](https://github.com/CameraKit/camerakit-android). If you still run into issues comment back here and I'll reopen this ticket!

[2018-11-19 17:36] #389 closed

[2018-11-19 17:43] emersoncloud commented on #383
@sandys Can you comment with the Android Device, Android Version, and CameraKit Version you've seen the blurry picture issue on?

[2018-11-19 17:49] sandys commented on #383
Hi,
So we removed the camerakit version from our apps because of this issue. Just to be clear - we don't think it's a bug on CameraKit, just that we would like a way to manage it.

The phone were lots of Micromax, Xolo phones in India - which are lower end phones. The Android version is 6.0 (from what I last remember).

To reiterate - we are not looking for you to fix blurry images. If you can jus

[2018-11-19 17:51] austinkettner commented on #383
@sandys we are working to improve results across devices in Beta4, but we are also looking at ways to 'detect anomalies' as you requested. I don't have a direct response at the moment in terms of when, but beta4 will improve the situation and we will see what we can do in that release regarding this.

[2018-11-19 18:04] sandys commented on #383
Thanks for your reply and for working on this.

I hope I'm not annoying, but want to reiterate the importance of anomaly detection versus performance improvement - users are happy to click the photo even ten times if you tell them what's wrong.
That will instantly help tons of users in a very impactful way.

[2018-11-20 04:07] GuanacoDevs commented on #444
Have the same issue with a XZ5P

[2018-11-20 06:51] abhinav011085 commented on #451
implementation group: 'com.camerakit', name: 'camerakit', version: '1.0.0-Snapshot', changing: true

[2018-11-21 12:08] brunozaranza opened #456 "Don't works on Android Things"
I tried do it works with different CK versions (0.12.0, 0.13.0, 1.0) and I have gotten different problems. In the latest version, CK is not able to connect to native camera of the Raspberry Pi 3. Someone have some tip how I might to do?

[2018-11-21 17:24] leandro1995 opened #457 "Error : specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter <set-?>"
good day to run camera kid in kotlin or in java I get the following error that is this

Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter <set-?>

![screen shot 2018-11-21 at 12 25 31 pm](https://user-images.githubusercontent.com/25448691/48858211-c9b1ad80-ed88-11e8-9583-a14e8ba24b14.png)

I wanted to know if there is a way to solve i

[2018-11-21 17:57] emersoncloud commented on #457
Hi @leandro1995 that's a bug on our end. It is because `app:camera_flash` is set to `auto` or `torch`, both of which will give that error. We're releasing a patch this week to give a better error output for those settings.

However `auto` and `torch` will be fully operational in the final v1.0.0 release. Let me know if you have any more issue!

[2018-11-21 17:57] #457 closed

[2018-11-24 09:30] jewom opened #458 "NoClassDefFoundError with coroutines"
A lot of users have this error :

**Caused by java.lang.NoClassDefFoundError kotlinx.coroutines.experimental.ThreadPoolDispatcherKt**

`com.camerakit.CameraPreview.<init> (CameraPreview.kt:80)
com.camerakit.CameraKitView.obtainAttributes (CameraKitView.java:268)
com.camerakit.CameraKitView.<init> (CameraKitView.java:237)
java.lang.reflect.Constructor.constructNative (Constructor.java)
java.lang.re

[2018-11-26 08:44] thubalek-inloop commented on #454
I can confirm this bug on many other devices too. I don't think it is device specific.

[2018-11-27 02:07] emersoncloud commented on #422
Merged in #448. Closing this issue.

[2018-11-27 02:07] #422 closed

[2018-11-27 10:58] thubalek-inloop commented on #454
I also found root cause. The problem is caused by JpegKit.

There is following code in `com.camerakit.CameraPreview#capturePhoto`

[code]

`jpeg.rotate` busts the image. I'll also file bug in JpegKit project.

[2018-11-27 11:05] thubalek-inloop commented on #454
Created related ticked https://github.com/CameraKit/jpegkit-android/issues/4

[2018-11-27 12:01] akiller commented on #454
Ahh, good find. Hopefully if it occurs on multiple devices it'll be easier for someone with far more jpeg/NDK experience than myself to fix.

[2018-11-27 12:05] thubalek-inloop commented on #454
@akiller I'm currently digging into JpegKit and it seems to be bug either in JpegKit or directly in https://github.com/libjpeg-turbo/ (JpegKit is wrapper around jpeg-turbo library). I'll update this bug report with my findings.

[2018-11-27 20:01] emersoncloud commented on #458
@jewom Thanks for letting us know. I've updated the Kotlin and Kotlin coroutine versions in CameraKit v1.0.0-beta3.10. That should solve the issue you see here. Let me know otherwise. Thanks again!

[2018-11-28 07:01] UmarBhutta commented on #444
Same Happening on Sony Xperia Premium.
But also there are some Crashes that i can see on my crashlytics are for Sony Devices, i.e
Sony H8266 (Xperia XZ2) most effected device.
Sony F8332 (Xperia XZ).

i am pasting the log also.
Fatal Exception: java.lang.RuntimeException
       at com.camerakit.api.camera2.Camera2.open(SourceFile:48)
       at com.camerakit.api.ManagedCameraApi.open(SourceFile:12)

[2018-11-30 07:12] Zhuxf1111 commented on #383
Device : HUAWEI Honor 6X
Device ID : BLN-AL40
This device also can't capture image.

[2018-11-30 10:42] MeteC commented on #427
ok cool. I can't remove that line from my project but good to know we're getting closer :-) 👍

[2018-12-03 09:55] rohankandwal opened #463 "Proguard issues with AndroidX annotations"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

### Steps to Reproduce

(Write your steps here:)

1. Add the library.
2. Add proguard rules in proguard file
3. Create a release build.

### Actual Behavior
Warning: com.camerakit.CameraKitView: can't find referenced class androidx.annotation.NonNull
Warning: com.cameraki

[2018-12-03 09:56] rohankandwal commented on #463
I resolved it while creating the issue but still posted the question since others might face same issue. Resolved it by replacing the proguard config by following codes :-

-dontwarn com.google.android.gms.**
-dontwarn androidx.annotation.**
-keep class com.camerakit.preview.* { *; }

The above code works instead of what mentioned in readme

[2018-12-03 09:56] #463 closed

[2018-12-03 16:40] emersoncloud commented on #383
@Zhuxf1111 which version of CameraKit are you using? Can you elaborate a bit more on what you mean by the device can't capture an image?

[2018-12-03 17:07] emersoncloud commented on #463
@rohankandwal Can you comment with the dependencies section of your gradle file? I wasn't able to reproduce the issue with this configuration:
[code]

Just making sure I can reproduce your issue before changing our documentation. Thanks!

[2018-12-05 01:42] XQ233 opened #464 "How can I get "libcamerakit.so""
Caused by: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.fancetech.baomi-1/base.apk"],nativeLibraryDirectories=[/data/app/com.fancetech.baomi-1/lib/arm, /vendor/lib, /system/lib]]] couldn't find "libcamerakit.so

[2018-12-05 01:55] #464 closed

[2018-12-07 08:33] xingzhibiao opened #465 "bitmap"
Hello, if you don't take photos, what should you do to get the full-screen preview image in real time?

[2018-12-09 06:55] xingzhibiao opened #466 "self-timer"
Hello, I want to realize automatic photography. Calling camera. captureImage method in onCreate is not possible.

[2018-12-09 07:40] UmarBhutta opened #467 "captureImage callback not being called"
After updating my project with new version(1.0.0-beta3.10 and 3.9) of camerakit and migrating to kotlin 1.3.11 for and coroutines 1.0.0 rapid calling for the image capture callback is being lost.
if you try to call captureImage method very quickly like clicking very fast. You will not get any callback for that click. Any suggestion?

[2018-12-10 17:21] emersoncloud commented on #466
Hi @xingzhibiao thanks for the question. Setting a timer for CameraKit is not currently on our feature roadmap. If you have an idea of how you would like to accomplish this feel free to open a pull request and we'd love to take a look!

[2018-12-10 17:21] #466 closed

[2018-12-10 18:55] emersoncloud commented on #465
@xingzhibiao we've gotten quite a few requests for this feature and we have an issue open tracking it, #342. If you have any feedback on what you would like to see from real time processing leave a comment there. Thanks!

[2018-12-10 18:55] #465 closed

[2018-12-12 09:55] qmetzler-luna commented on #467
It can happen even when not clicking fast, just calling it several time in a row will break the captureImage randomly.
By breaking I mean the callback is not called anymore and the camera also doesn't make the auto focus.
I tried calling
camera.onPause()
camera.onStop()
camera.onStart()
camera.onResume()
and camera.captureImage again but the callback is still not called.

1. Pixel 3
2. 9 API 28
3.

[2018-12-13 13:56] hardysim commented on #246
Is this still available (in `1.0.0-beta3.10`)?

[2018-12-13 17:13] frogermcs commented on #467
Confirming - Pixel 3XL. Android 9. When I capture a couple times in a row, no callbacks are called from CameraKit. Not from captureImage, nor errorListener.

Interesting fact - when you stack "clicks", take app to background and bring it back, callback is delivered with the latest captured image.

Here are some random logs pointing on CamX:
[code]

[2018-12-13 17:16] frogermcs commented on #467
XML
[code]

Implementation:
[code]

[2018-12-17 14:10] winterDroid commented on #456
Did you find a solution for it?

[2018-12-17 21:38] emersoncloud commented on #456
CameraKit has not been tested on the Raspberry Pi 3. I'm afraid theres not much we can do to help. Our development is focused on mainstream Android devices for the time being.

We hope to expand CameraKit to all connected devices sometime down the road. Closing this ticket for the time being, but hope to reopen and address later on.

If you're able to find any solutions we'd love to take a look. I

[2018-12-17 21:38] #456 closed

[2018-12-18 13:35] yadavshivam3000 commented on #360
Error inflating class com.wonderkiln.camerakit.CameraView
Caused by: java.lang.reflect.InvocationTargetException

Please help in resolving this.

[2018-12-20 10:05] MaximeMaravalLunabee commented on #467
Same problem here.
After import the library as module in my project, I finally avoid this issue by change

[code]

by

[code]

in `Camera2.kt`, but this is clearly not a good solution.

Any news @emersoncloud  ?
Thanks

[2018-12-20 12:33] UmarBhutta commented on #467
![ezgif-4-cde1b1db8db6](https://user-images.githubusercontent.com/909541/50285202-ebc84980-0474-11e9-95fe-c4f7619514b1.gif)
@emersoncloud it is happening on Samsung J7 pro.

[2018-12-22 20:20] DummyCo commented on #467
Same here, Pixel XL

[2018-12-22 22:51] austinkettner commented on #458
We will take a look. Though to note, `1.0.0-beta3.11-expensify` should not be used as it will not be sticking around. We will be issuing a proper `beta-3.11` shortly

[2018-12-24 07:23] usmanrana07 opened #468 "Crash: Camera is being used after Camera.release()"
I'm getting following crash sometimes, The scenario is that when image or video is captured then  user is taken to next screen and in onStop method i stop the camera. Sometimes if i perform capturing or recording too frequently by goind back and forth from between camera and next screen. Then app crashes and gives following logs:
[code]

[2018-12-24 09:51] usmanrana07 opened #469 "Flash ON is not working"
Flash is not working when setting 'setFlash' with FLASH_ON or FLASH_AUTO , but working for FLASH_TORCH .  I'm using Samsung S6 with Nougat 7.0 version.

[2018-12-30 23:17] pikzelz commented on #348
I was also having the issue where the preview showed up black. Tried all solutions given here and nothing worked, preview stayed black.

After downloading the source code and adding it to my project I found out that resume() in CameraPreview.kt wasn't called and thus the preview didn't start. After digging a little further I noticed that the init call has a listener setup to wait for the surfaceVi

[2019-01-01 13:03] usmanrana07 opened #470 "Front camera captures dark image with ckMethod=still"
In Huawei Nova 3 device the front camera with ckMethod = still is capturing image as dark.

[2019-01-02 11:59] nirpatel15 opened #471 "Convert Object to Video"
I am trying to capture and save video using below method.

[code]
I get a java Object in parameter of **onVideo** . If I want to preview the video, How can I convert it to a File or any other relevant entity ..??

[2019-01-02 20:51] emersoncloud commented on #471
@nirpatel15 check out our documentation on capturing video in v0.13.2 [here](https://camerakit.io/docs?v=0.13.2#capturingvideo).

You could also do something like the following to get the video file form the captureVideo function.
[code]

[2019-01-03 05:17] nirpatel15 commented on #471
I am using version beta 3.10 and I am unable to find such event in this version. Do I need to downgrade..??

[2019-01-03 06:20] usmanrana07 commented on #470
Device is 'Huawei Nova 3'   , captureMethod is 'still' , Android version is 7+ , CameraKit version is currently available at github.

One more thing is that FLASH_ON doesn't work while capturing image with captureMethod 'still', but works for standard. For 'still' it flashes on screen tap but not while taking picture.

[2019-01-03 10:47] FlowMo7 opened #472 "minSdkVersion increased to 24 in v0.13.3"
### Is this a bug report?

Yes.

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes.

### Environment
Android application project with:
* minSdkVersion `21`
* targetSdkVersion `28`
* gradle wrapper `4.10.2`
* gradle build-tools plugin `3.2.1`

### Steps to Reproduce

Upgrade library version `0.13.2` to `0.13.3`.
(or in general: use the library version `0.13.3` in an pro

[2019-01-03 16:10] chbaumgaertner opened #473 "Flash fired twice, but not at the right time"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

yes

### Environment

Huawei P20 Pro
Android 8.1.0 API 27
CameraKit 3.10

### Steps to Reproduce

I'm trying to take pictures with forced flash. During the capture sequence the flash fires twice, but the image doesn't show any flash.

The code is working fine using a Oneplus Two (Android 6.0.

[2019-01-03 21:54] emersoncloud commented on #471
Yes you would need to downgrade if you want to use video in your application. Video is not yet supported in the latest v1.0.0 beta versions but will be in the near future. We don't have a solid time estimate but we are working on it.

In the mean time you can use CameraKit v0.13.2,  the last version with video support.

[2019-01-03 21:54] #471 closed

[2019-01-04 03:58] emersoncloud commented on #458
@DummyCo @jewom With CameraKit **v1.0.0-beta3.10** you should use the following dependencies:
[code]

With CameraKit **v1.0.0-beta3.9**, use these dependencies instead:
[code]

If I was using beta3.10 and did not upgrade to the latest kotlin and coroutines I was able to reproduce the errors shown above. Those dependencies should solve your issues!

[2019-01-04 03:58] #458 closed

[2019-01-04 18:21] emersoncloud commented on #453
The 3 permissions requested by CameraKit are defined in the AndroidManifest.xml file. They are `RECORD_AUDIO`, `CAMERA`, and `WRITE_EXTERNAL_STORAGE`. With our current implementation there is no way to programmatically add and remove permissions based on each user's use-case.

If there is a particular need to remove certain permissions, you're welcome to fork and modify the code yourself.

Closing

[2019-01-04 18:21] #453 closed

[2019-01-04 18:22] emersoncloud commented on #452
Hi @ShalevCohen2112 as I mentioned in #453 we don't have a way to remove permissions from the permission list. CameraKit is designed to support camera, and video functionality and we need all 3 permissions to achieve that.

But only the `AndroidManifest.xml` file will need to be adjusted if you want to fork and remove the permissions yourself!

[2019-01-04 18:30] austinkettner commented on #468
This is a known issue and we have an entirely new state-management system coming in our next release to resolve this once and for all. Thanks for creating this ticket @usmanrana07

[2019-01-06 21:04] emersoncloud commented on #451
Could be related to #470.

@abhinav011085 could you try on the latest release, `v1.0.0-beta3.10` and report back if the issue persists?

[2019-01-06 23:31] #472 closed

[2019-01-08 18:51] shadygoneinsane commented on #470
referred this https://camerakit.io/getstarted and am facing the same issue with front cam.. please fix this soon

[2019-01-10 14:19] rodolfoizidoro opened #477 "Crash in Api 16 lib 1.0.0-beta3.10"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

Yes

### Environment

Emulator Google Api 16

Project min api 16
Target sdk api 27
Compile api 27

### Steps to Reproduce

Use library 1.0.0-beta3.10 in android with api 16.

### Expected Behavior

Open Camera

### Actual Behavior

`01-10 12:10:02.312 4509-4509/ E/AndroidRuntime: FATAL EXCEPT

[2019-01-11 12:32] mnayef95 opened #480 "How i can use version v0.13.4?"
How i can use version v0.13.4?
i tried

`implementation 'com.camerakit:camerakit:0.13.4'`

but it's doesn't work

[2019-01-11 13:28] tibigeorgescu90 opened #481 "startPreview failed on Samsung"
App crashes when taking a picture on Samsung SM-N9005, Android 5.0. This happens randomly but quite often. I've tested it on other devices (non Samsung) and this doesn't happen.
I'm using com.camerakit:camerakit:1.0.0-beta3.10.
Here's the stack:

Fatal Exception: java.lang.RuntimeException: startPreview failed
       at android.hardware.Camera.startPreview(Camera.java)
       at android.hardware.c

[2019-01-11 14:45] emersoncloud commented on #480
To use v0.13.4, the gradle line is:

```implementation 'com.wonderkiln:camerakit:0.13.4'```

The `v0.13.X` line is under `wonderkiln` and the new `v1.0.0-betaX` releases are all under `camerakit`. Sorry for the confusion!

[2019-01-11 14:45] #480 closed

[2019-01-15 22:11] snkashis commented on #454
@thubalek-inloop @akiller  yeah, this is definitely a multiple device problem. @austinkettner @emersoncloud is this serious issue on the docket for v1.0.0-beta3.11? I'm seeing it in beta3.9 and beta3.10.

[2019-01-17 11:06] bluesky0506 opened #482 "huawei mate9 pro 拍照花屏"
### Is this a bug report?

华为mate9pro打开拍照页面，花屏。无法使用。必显，谢谢！

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

(Write your answer here.)

### Environment

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

(Write what happened. Add screenshots!)

### Reproducible Demo

(Paste the li

[2019-01-18 15:46] emersoncloud commented on #482
Hi @bluesky0506 I'm having trouble understanding your issue. I quick popped your message into Google translate and read: "Huawei mate9pro opens the photo page and spends the screen. Not available. Must show, thank you!"

Which version of CameraKit are you using? Could you send us a log of any errors you're getting and we might be able to help! Closing this issue for the time being.

[2019-01-18 15:46] #482 closed

[2019-01-19 15:39] glenatron commented on #384
I'm still seeing this exact problem on my Sony XPeria - everything goes weird after rotation. CameraKit seems really good but this is a showstopper for me- if I know what the correct rotation is supposed to be, is there any way I can manually fix up CameraView?

[2019-01-20 09:28] prakaz opened #483 "Crashes on Android 5.1.1 emulator"
The library (1.0.0-beta3.10) runs on Android 8,9 (emulators). But while testing on Emulator (Nexus 4 - Android 5.1.1, API 22), I get the following error 100% of the time:

[code]

[2019-01-20 12:50] prakaz commented on #483
This was fixed by enabling the hardware camera of the computer from the AVD manager.

[2019-01-20 12:50] #483 closed

[2019-01-21 04:05] AnyLifeZLB opened #484 "Crash on start if add ndk abiFilters armeabi"
when add ndk filter config
    defaultConfig {
        multiDexEnabled true

        ndk {
            abiFilters 'armeabi'
        }
    }
in build.gradle file ,App crash on start. here is the error message.

        at com.android.internal.os.Zygote$MethodAndArgsCaller.run(Zygote.java:245)
        at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:921)
     Caused by: android.view.Inflat

[2019-01-21 04:06] AnyLifeZLB commented on #484
remove ndk filter will work fine.

[2019-01-21 10:58] jewom opened #485 "CameraKit take a lot of time to enter in cameraView.captureImage"
Hi,

I am using com.camerakit:camerakit:1.0.0-beta3.10 and when I take a picture with a lot of light, it take a lot of time to enter in the captureImage listener.
When I put my finger front of the camera it's working instant!

Why ? Wan I fix the delay ?

[2019-01-21 21:20] fabrizziocht commented on #485
Same error using a Samsung galaxy S6 with android 6.0.1 API 23. I tested with API 19, 21, 22 and 27, and works well, except this version.

[2019-01-22 08:10] jewom commented on #485
So it depend of the API of the device ?

[2019-01-22 10:19] bluesky0506 opened #486 "Huawei mate9pro opens the photo page and spends the screen."
### Is this a bug report?

华为mate9pro打开拍照页面，花屏。无法使用。必显，谢谢！
Huawei mate9pro opens the photo page and spends the screen. Not available. Must show, thank you!
I am sorry, my english lever is poor. add issue picture, think you !
链接: https://pan.baidu.com/s/1yX2Ga3JYPQpUXWBrHgv0Xw 提取码: aq3y

I used version is newest:
implementation 'com.camerakit:camerakit:1.0.0-beta3.10'
implementation 'com.camerakit:

[2019-01-23 08:11] AnyLifeZLB commented on #486
I have the same problem

![image](https://user-images.githubusercontent.com/15169396/51591971-6af3e600-1f29-11e9-9af1-3d5ef413772b.png)

you can upload the picture by just Ctrl+c --> Ctrl+v

[2019-01-23 17:00] #477 closed

[2019-01-23 17:36] emersoncloud commented on #477
Hey @rodolfoizidoro thanks for letting us know about this issue! We've added the fixes to both v1.0.0-beta3.11 as well as 0.13.5. We've made your changes ourselves to prevent the need for a Contributor License Agreement. We truly appreciate your contributions to CameraKit, without your PR we wouldn't have made these changes.

Go ahead and give either of the versions a try! Thanks again.

[2019-01-24 02:31] bluesky0506 commented on #486
thank you, let me try.
![image](https://user-images.githubusercontent.com/15247703/51650277-8bbc4a00-1fc2-11e9-8edd-b5f0758879b7.png)

[2019-01-24 02:32] bluesky0506 commented on #486
This issure on front camera

[2019-01-24 09:06] #484 closed

[2019-01-24 12:11] usmanrana07 opened #489 "CameraView stretches when default camera is opened and then our app is resumed"
When i open camera camera in my app and later on my app is taken to background and i open default camera of the phone and rotate it to landscape then on resuming my app the camera become stretched.

[2019-01-24 13:33] usmanrana07 commented on #489
I've resolved this issue by making a change in CameraView.

[2019-01-24 13:33] #489 closed

[2019-01-25 08:41] RahilRK opened #490 "java.lang.RuntimeException: takePicture failed"
### Is this a bug report?

(write your answer here)

### Have you read the [Contributing Guidelines](.github/CONTRIBUTING.md)?

(Write your answer here.)

### Environment

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

(Write what happened. Add screenshots!)

### Reproducible Demo

(Paste the link to a

[2019-01-25 13:02] nasko700 opened #491 "setPreviewEffect doesn't work"
### Is this a bug report?

I think there is a bug with the photo version of this library - more specifically 'com.camerakit:camerakit:1.0.0-beta3.11'.

### Steps to Reproduce
Just use this function to create CameraKitView in Fragment:
protected CameraKitView createCamera(Context context){
        CameraKitView cameraKitView = new CameraKitView(context);
        cameraKitView.setAdjustViewBounds(tr